[2019-10-10 22:04] chrisklus opened #1 "Number Play master checklist"
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Sim suggestions doc reviewed** [suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/3863/pages/105821)
- [ ] **Learning

[2019-10-11 01:10] chrisklus opened #2 "code sprint"
@chrisklus is doing a code sprint during the week of 10/10-10/16.

Sim design doc: https://docs.google.com/document/d/1F9JH-TojXljZVgRgY9lAN78Wujr2b7iLBN9KJpfUJUg/edit

[2019-10-16 14:41] KatieWoe opened #3 "CT false is not a function"
[code]

[2019-10-16 14:56] samreid commented on #3
This symptom is often caused by forgetting the first `assert` in an `assert && assert` command.

[2019-10-16 16:15] chrisklus commented on #3
Thanks @KatieWoe and @samreid! 3 A.M. me did not have such insight. I'll wait for the next round of CT and then close.

[2019-10-17 16:13] chrisklus commented on #2
Latest dev version from the sprint: https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.7/phet/number-play_en_phet.html

The ones panel is still quite buggy (and so is the Objects panel when being controlled by the ones panel). I'll elaborate more during/after status.

[2019-10-23 00:08] #3 closed

[2019-10-23 15:28] KatieWoe opened #4 "CT cannot read property minus of undefined"
[code]

[2019-10-31 14:58] KatieWoe opened #5 "CT value failed isValidValue: 11"
[code]

[2019-11-11 03:12] chrisklus opened #6 "Support multitouch"
For https://github.com/phetsims/number-play/issues/3 and https://github.com/phetsims/number-play/issues/4.

I figured out and fixed what I hope is the last way to achieve a mismatch of values on the Ten and Twenty screen when using just a single input method, like a mouse. As the sim continued to fail fuzz testing after this fix, I realized there are a bunch of multi-touch cases that are not being

[2019-11-11 04:24] chrisklus commented on #6
@ariel-phet can you confirm the new screens are higher priority than multitouch, or comment if otherwise?

[2019-11-11 20:26] ariel-phet commented on #6
Yes, new screens definitely higher priority than multitouch

[2019-11-11 23:13] chrisklus commented on #4
This is not showing up on CT anymore per my temporary fix in #6, closing.

[2019-11-11 23:13] #4 closed

[2019-11-11 23:13] chrisklus commented on #5
Thanks @KatieWoe. This is not showing up on CT anymore per my temporary fix in #6, closing.

[2019-11-11 23:13] #5 closed

[2019-11-12 03:32] chrisklus opened #7 "Eliminate duplicated code in OnesPlayArea and ObjectsPlayArea"
Perhaps they should share abstract base classes. Whatever ends up being the best solution, the paper ones should essentially be treated the same was as play objects.

The current design of keeping them separate was done intentionally during a sprint since it was easier to use the make-a-ten code while changing as little of it as possible. So this pattern was a known issue to being with, but it's b

[2019-11-12 05:07] chrisklus opened #8 "Convert paper numbers to use Animation"
Paper number animations are currently managed with custom code via `step`. If converted to use Animations, it would be easier to implement easing (so that they match the play objects animation style) and eliminate the need for calling `step` at all.

The best time to do this will likely be during the big refactor for #7.

[2020-04-13 14:54] KatieWoe opened #9 "CT setting centerY is invalid when the node has invalid (empty/NaN/infinite) bounds"
[code]

[2021-02-01 22:43] amanda-phet opened #10 "Repelling action bug"
It seems like when there is a large pile of objects (in this case, puppies), and they get close and try to repel so there is space, an object (or many) can be left bouncing.

https://user-images.githubusercontent.com/7852916/106527168-14b8c680-64a4-11eb-8406-86553727af88.mp4

[2021-02-01 23:25] chrisklus commented on #10
hahaa i forgot about this! i believe it was one of the last features i did for the sprint, late at night on the eve it was due, and this very poor algorithm is the result. i'll rewrite it so each puppy finds a "safe" final destination to go to before moving when you drop it

[2021-02-01 23:33] chrisklus opened #11 "Number Play - Publish 1.0"
Place to link remaining issues for dev work needed to publish Number Play 1.0. Note that this is currently incomplete and more issues will be added/converted from TODOs.

features:

- [x] code sprint https://github.com/phetsims/number-play/issues/2
- [x] additions to compare screen https://github.com/phetsims/number-play/issues/25
- [ ] multitouch support https://github.com/phetsims/number-play/is

[2021-02-01 23:37] chrisklus commented on #2
Sprint was completed December 2019. Closing.

[2021-02-01 23:37] #2 closed

[2021-02-08 16:40] KatieWoe opened #12 "CT did not find matching Node"
[code]

[2021-03-11 15:22] samreid opened #13 "For loop cannot loop"
As part of https://github.com/phetsims/chipper/issues/814, ESLint detected this code in number-play/js/common/view/OnesPlayAreaNode.js

[code]

Note that the loop cannot loop since it always returns.  This seems potentially buggy, so I'll mark blocks publication.  I will also opt out of the lint rule for now so that it doesn't show as a lint error, but as part of the resolution for this issues the

[2021-03-12 17:23] chrisklus commented on #13
Thanks @samreid! I'll investigate when starting to work on this sim again. Added to my TODO list in the dev epic, https://github.com/phetsims/number-play/issues/11

[2021-04-29 06:12] chrisklus opened #14 "Add grouping for play objects"
As discussed in several design meetings, we would like to try out a functionality for "grouping" objects together when they are dragged near one another. Each group can then be dragged as one unit of multiple objects. This feature should be able to be turned on and off.

[2021-04-29 06:23] chrisklus commented on #14
Today I was able to get the model working for grouping when a user is dragging and dropping objects near one another. Groups are formed (or added to) when an ungrouped object is dragged near another object or group of objects. An object can be removed from a group by dragging it away from a group, and a group is destroyed when the second-to-last object is pulled away from the remaining object. Gro

[2021-04-29 06:34] chrisklus commented on #14
I added some logging so that whenever the total number of groups in the play area changes, the total number of groups and the number of objects in each group prints to the console.

[2021-05-03 15:26] KatieWoe opened #15 "CT Issues in perennial"
[code]

[2021-05-03 20:25] chrisklus commented on #15
thanks @KatieWoe and @samreid for pointing out that my git hooks were broken! Lint is passing on my end, closing.

[2021-05-03 20:25] #15 closed

[2021-05-06 17:22] KatieWoe opened #16 "CT assertion failed"
[code]

[2021-05-06 22:30] chrisklus opened #17 "branch: unifyModels"
Brand for experimenting with combining the models of the playObjects and ones, perhaps by adapting the ones model to also work for playObjects

This will be deleted when it is either merged with master or abandoned

[2021-05-06 22:45] chrisklus opened #18 "Investigate combining models of playObjects and paperOnes"
@samreid and I did some investigation this week for linking the models of the OnesPlayArea and PlayObjectPlayArea, and @samreid had the fantastic idea of making them one model with two views! I'm going to make commits to this investigation on the branch unify-models.

@samreid strongly recommended adapting the playObjects model to handle paper ones too, or adapting paper ones to be able to be repr

[2021-05-18 16:12] samreid opened #19 "Create a new common code repo to share code with make-a-ten"
@chrisklus and I recommend generalizing code in make-a-ten for reuse in number play.  Currently, number-play has a dependency on make-a-ten, but that sim->sim dependency is not desirable for the long run.  So we would like to factor out common code from make-a-ten for reuse.

We were originally going to call the new repo “make-a-ten-common” but realized that is not very general.  We aren’t making

[2021-05-18 16:25] samreid commented on #19
We ran a webpack build with

[code]

to see which parts of make a ten are currently used, it reported:
* make-a-ten/common/view/BaseNumberNode.js
* make-a-ten/common/model/BaseNumber.js
* make-a-ten/common/model/PaperNumber.js
* make-a-ten/common/MakeATenConstants.js
* make-a-ten/common/MakeATenUtils.js
* make-a-ten/common/model/ArithmeticRules.js

We also saw these files which seem copied from ma

[2021-05-18 17:06] chrisklus commented on #17
@samreid and I merged this into master, woohoo! Closing

[2021-05-18 17:06] #17 closed

[2021-05-18 19:18] samreid commented on #19
In slack, @jonathanolson said:

[2021-05-18 19:19] samreid commented on #19
Regarding the name, @jonathanolson said:

@chrisklus what do you recommend?

[2021-06-07 16:01] KatieWoe opened #20 "CT perennial task failed"
[code]

[2021-06-17 22:08] amanda-phet opened #21 "Conduct a performance profile"
6/17/21 Ian emailed us the following:

It might be a good idea to get a sense of the performance of the sim to figure out how to tackle this issue.

[2021-06-18 17:39] chrisklus commented on #14
this was achieved by using paper number code for play objects over in https://github.com/phetsims/number-play/issues/19, closing

[2021-06-18 17:39] #14 closed

[2021-06-18 17:40] chrisklus commented on #18
this is being continued over in https://github.com/phetsims/number-play/issues/19, closing

[2021-06-18 17:40] #18 closed

[2021-06-18 21:09] chrisklus opened #22 "Memory leak"
From https://github.com/phetsims/QA/issues/661

There is a very bad memory leak - I'll look at some heap snapshots.

[2021-06-18 21:25] chrisklus commented on #22
I saw a lot of additional BasePictorialNodes in the deltas of a couple heaps, then remembered that I'd added `playObjectTypeProperty` to the PaperNumberNodes that use BasePictorialNode and wasn't unlinking their listeners.

After adding some `dispose` methods in the above commits to handle unlinking `playObjectTypeProperty`, I did a snapshot test from 0 to 5 minutes, with a snapshot at the start a

[2021-06-18 23:55] chrisklus commented on #21
Startup performance appears to be as expected - each of the ScrenViews are taking comparable or less time to initialize than the Sim object. (I looked at other sims for comparison - each of EFAC's two SceenViews take longer to construct than the Sim object, and a few others look similar to Number Play).

After everything is loaded, the performance of the sitting sim or while a paper one is being d

[2021-07-15 18:03] amanda-phet opened #23 "Ones bucket needs a more realistic decrease"
Currently, the dogs show 3 in the bucket until the total is greater than 7. Then they decrease down to 2, then 1, then none.

The ones show 2 in the bucket until the total is 10. So even with there is only 1 one available, it looks like there are 2.

![image](https://user-images.githubusercontent.com/7852916/125835824-db0a468c-2454-4e09-980b-4c3764b215c1.png)

Eventually we'll want to get this sor

[2021-07-15 21:57] amanda-phet opened #24 "Update color profile"
Ten screen background color: #d7ffe3
Number and Ten Frame background color: #9fedac

Twenty screen background color: #fff2dc
Number and Ten Frame background color: #f9d2ac

[2021-07-15 22:04] amanda-phet opened #25 "Changes to Compare screen"
- [x] Change the background panels to be #d7ffe3 and #fff2dc
- [x] Make the counting block representation (and number line triangle) color-coded, using #96e2a8 and #f7d19f respectively
- [x] Add scene selection style radio buttons
- [x] Fix the number line proportions in the radio button
- [x] Add string below comparison statement that toggles on and off depending on the comparison checkbox
- [x]

[2021-07-16 16:03] chrisklus commented on #24
Updated above. @amanda-phet would you like to review on phettest? I like the new darker green on the ten screen, but it seems a little fluorescent in the numeral accordion box on the twenty screen. What do you think?

This sim was created before ColorProfile.js was created by default with new sims, so it doesn't have a Color Editor. I was going to add one, but ColorProfiles are being refactored as

[2021-07-16 16:25] amanda-phet commented on #24
@chrisklus and I reviewed and decided to also update the ones and objects panels to be #fcdcff and #ccefff, respectively.

[2021-07-16 16:47] chrisklus commented on #24
Okay all set @amanda-phet if you think we're ready to close.

[2021-07-16 17:03] chrisklus opened #26 "Bring back organize buttons on Ten, Twenty, and Compare screens"
The organize button was removed when the objects were converted to paper numbers. To reimplement them, there will need to be a way to programmatically break apart paper number stacks into individual ones. Once that is complete, I should be able to bring back the original organization code to position them accordingly.

[2021-07-16 21:19] amanda-phet commented on #24
I think it looks good for now. We might want to tone down the light orange and light green, but let's return to that after other things are in place.

[2021-07-16 21:19] #24 closed

[2021-07-19 17:36] amanda-phet opened #27 "Sound design"
I need to work with @Ashton-Morris and/or @jbphet to design a sound for Number Play. It should be a sound that is incrementally higher as the number increases, and incrementally lower as the number decreases.

[2021-07-19 18:41] amanda-phet opened #28 "Choose icon for speech button"
We have a button that reads out the current value on the screen. I am temporarily using this icon of a person with sound waves near their mouth. I want to coordinate with people working on voicing to be sure this icon isn't in conflict with icons they are using, or if they have a better suggestion.

<img width="908" alt="image" src="https://user-images.githubusercontent.com/7852916/126210430-295ed

[2021-07-19 21:00] amanda-phet opened #29 "Finalize artwork"
- [ ] Make a dog that is facing front instead of side
- [ ] Make strokes more consistent with other interactive artwork

[2021-07-19 21:03] amanda-phet commented on #29
We'd like a dog that has perspective more like one of these instead of a profile view.
![image](https://user-images.githubusercontent.com/7852916/126227130-2ecab3b9-1a40-4403-b9f5-1dbe7e7f19a1.png)

[2021-07-19 21:09] amanda-phet commented on #29
I've messaged Megan to see if she can help with this.

[2021-07-19 21:18] amanda-phet opened #30 "Add spinner buttons next to buckets"
We'd like something like this
![image](https://user-images.githubusercontent.com/7852916/126228622-db17d7e9-75f8-4613-a618-cb0483a2360f.png)

It seems like there is an issue with accordion box and being able to put content in the margin below the expandCollapseButton.

[2021-07-19 21:30] amanda-phet opened #31 "Add dual language support"
We've broken this down into sub-tasks:
- [x] Add toggle when a second language is specified
![image](https://user-images.githubusercontent.com/7852916/126229254-a5474a0c-985f-49df-9d27-7b57f1d3bb84.png)

- [x] Create query parameter (something like `secondLanguage`
- [x] We will also need a way to test the query parameter before translation is available (typically available after sim publication).

[2021-07-20 16:52] chrisklus commented on #25
Ok ready for review on phettest!

[2021-07-20 21:28] amanda-phet commented on #25
Everything looks great!

[2021-07-20 21:28] #25 closed

[2021-07-22 16:10] amanda-phet opened #32 "Use speech synthesis to read simple text from some screens"
- [x] Factor out speech synthesis from self-voicing (@jessegreenberg )
- [x] Add a speech button that, when clicked, reads out the number on the Ten and Twenty screens
- [x] Add a speech button that, when clicked, reads out the comparison statement text on the Compare screen
- [x] Hide this speech button in the android app since speech synthesis doesn't work there

[2021-07-22 16:11] amanda-phet opened #33 "Lab screen implementation"
- [x] Fix play area layering
- [x] objects snap to first open spot when dropped over ten frame
- [x] create dynamic layout for the screen
- [x] prevent mixing of objects in ten frames and don't allow ones in ten frames
- [x] ten frame shrinks and returns when dropped over ten frame creator
- [x] objects return when ten frame  dropped over creator
- [x] grabbing objects in the ten frame moves the w

[2021-07-23 19:15] chrisklus opened #34 "Remove game screen from sim launcher"
Since the first version of Number Play wont have a game screen, we should remove it from the sim launcher for now

[2021-07-23 19:28] chrisklus commented on #34
All set, closing.

[2021-07-23 19:28] #34 closed

[2021-07-29 21:32] jessegreenberg commented on #32
In the above commit, I added a `supportsSpeechSynthesis` flag which will enable voicingManager separately from `supportsVoicing` so it can be used without the surrounding voicing features. I think we are ready to try and use this in the sim.

[2021-07-30 15:46] chrisklus commented on #32
Thanks @jessegreenberg for giving me a tour of how to use speech synthesis! This went really smoothly. Ready for review.

[2021-07-30 19:08] amanda-phet commented on #32
This is working well on Safari and Chrome!

[2021-07-30 19:35] chrisklus commented on #32
Nice! Working for me on Firefox too. If speech synthesis is not supported (or if it's turned off via the query parameter `supportsSpeechSynthesis=false`), the button is not added. Ready to close if you are.

[2021-07-30 19:37] #32 closed

[2021-07-31 19:24] chrisklus commented on #7
ObjectsPlayArea no longer exists, and the rest of the duplicated code is being handled in https://github.com/phetsims/number-play/issues/19, closing.

[2021-07-31 19:24] #7 closed

[2021-08-02 16:44] amanda-phet opened #35 "Make a query parameter for counting along"
@kathy-phet requested a query parameter for using speech synthesis to read out the number as the user interacts. For example, when they make 3, it reads out "three" and as soon as they make 4, it reads out "four", without explicitly pressing the speech button.

@kathy-phet - do you also want this on the Compare screen? I think that seems like a long sentence to read out, and only thought we'd have

[2021-08-02 16:47] amanda-phet opened #36 "Improve drop area for objects"
When @chrisklus refactors the semi-transparent background card for objects, we want the entire background to be draggable, with a handle on top for removing objects from the group. Similarly, we need the drop area for adding objects to the group to be the entire background.

[2021-08-02 16:48] amanda-phet opened #37 "We will also need a way to test the query parameter before translation is available (typically available after sim publication). So Chris mentioned that we might need to get strings in rosetta so that in testing, a sim on bayes can access those strings to test the query parameter."

[2021-08-02 18:13] kathy-phet commented on #35
Yes, I agree. Let's just do it for the first 2 screens.

[2021-08-02 19:50] amanda-phet commented on #28
We chose the font awesome bulhorn icon for now and would like to see how it goes in interviews with Ian.

[2021-08-09 16:11] KatieWoe opened #38 "CT item not found in Array"
[code]

[2021-08-17 16:15] amanda-phet opened #39 "Bug: numeral is not in sync with objects"
This bug came up in a student interview. We'd like QA to find the steps to reproduce so that @chrisklus can tackle it. Originally found on iPad (not sure of exact OS or model, but it's brand new, so should be up to date).

Video of bug: https://drive.google.com/file/d/1UVavAf22wnKStI25kdysiZkrSRASzmDz/view?usp=sharing

[2021-08-17 18:15] chrisklus opened #40 "Dragged object doesn't stay on top after allowing grouping"
@kathy-phet noticed that there was a case where, when the puppies were not linked or grouped, when one was dropped so that it overlapped another, it would go underneath the puppy that it should have been on top of.

To reproduce this, I found that the puppies in the play area needed to be grouped together and then split back apart before this could occur, see below:

![Kapture 2021-08-17 at 10 41

[2021-08-17 18:18] chrisklus commented on #40
Committed above - @amanda-phet would you like to review?

[2021-08-17 18:26] Nancy-Salpepi commented on #39
@amanda
I was able to replicate only once using the iPad by dragging the apple over the bowl containing the additional apples. The number at the top of the screen changed from 12 to 11 (as it did 17sec into the video) but I am not able to nail down exact steps at this point.

[2021-08-17 19:03] Nancy-Salpepi opened #41 "Ten-Frames do not reset in Lab Screen"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
Chrome

**Problem description**
https://github.com/phetsims/qa/issues/696

In the lab screen, when reset button is selected, the 10-frames fail to reset.

**Steps to reproduce**
1. Select the lab screen
2. Place 1 or more 10-frames into the play area.
3. Place other objects/numbers into the play area.
4. Select the reset

[2021-08-17 19:16] amanda-phet commented on #41
I forgot to say not to test this screen. Still a number of issues here, so I'll update https://github.com/phetsims/qa/issues/696

[2021-08-17 19:16] #41 closed

[2021-08-17 19:36] Nancy-Salpepi opened #42 "When reset button is selected the object type is not reset"
**Test device**
Macbook Air (m1 chip)

**Operating System**
11.4

**Browser**
chrome

**Problem description**
https://github.com/phetsims/qa/issues/696

In the Ten and Twenty screens, when the reset button is selected, everything returns to its original state except that the object selected does not return to the dogs. This is not seen in the compare screen.

**Steps to reproduce**
Here is an exam

[2021-08-17 20:40] Nancy-Salpepi opened #43 "When groups of are combined, the objects are stacked on top of one another instead of diagonal"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/696

When the pairing button (2 dogs paired) is selected, when I combine two groups, they didn't arrange themselves into a single diagonal line.

**Steps to reproduce**
I have been trying to figure that out. I will keep working on it.

**Visuals**
<img

[2021-08-17 22:44] KatieWoe commented on #39
I think I got the cause. You need to drop the apple/object and pick it up again before it goes in the bowl. To the point where it is basically a finger twitch. I can reproduce this consistently doing this. This seems to create a bugged apple that doesn't show up in the number count and behaves oddly in the play area.

https://user-images.githubusercontent.com/41024075/129810354-f862f8a8-0148-4dac-

[2021-08-18 13:26] Nancy-Salpepi opened #44 "Memory isn't maintained when switching between unpaired and paired screens"
**Test device**
MacBook Air (m1 chip)

**Operating System**
11.4

**Browser**
Safari

**Problem description**
https://github.com/phetsims/qa/issues/696

@amanda-phet and I observed this on a zoom call yesterday:

In either the Ten or Twenty screens, when switching between locked and paired modes, the memory of the objects is maintained. However, when moving between unpaired and paired, the objects

[2021-08-18 14:01] Nancy-Salpepi opened #45 "When grabbing object in unpaired mode, it is being treated as though it is being removed from group"
**Test device**
Mac11 (m1 chip)

**Operating System**
11.4

**Browser**
safari

**Problem description**
https://github.com/phetsims/qa/issues/696

In either the 10 or 20 screen, after switching from paired mode to unpaired mode, when I place my mouse pointer over a previously paired object to move it, it treats it as though it is being removed from a group. My mouse pointer is no longer directly o

[2021-08-18 15:00] KatieWoe commented on #39
Linking to dev test https://github.com/phetsims/qa/issues/696

[2021-08-18 16:47] amanda-phet opened #46 "Make a spanish prototype"
Our partner would like a version of the sim in Spanish, so we'd like to build a version of this right away.

1. We need @DianaTavares to provide some translated strings
2. Add the toggle switch for dual languages, but keep it disabled for now

Would be great to have this soon, right after https://github.com/phetsims/counting-common/issues/1

[2021-08-18 17:14] KatieWoe commented on #39
This can happen on other screens with other objects in other scenes as well.
![992B5AB0-77D7-49B6-B75C-AB0D69C06713](https://user-images.githubusercontent.com/41024075/129941992-74f8c843-efec-47b2-816a-d6c8f35504db.png)

[2021-08-18 18:19] KatieWoe opened #47 "Max Width of strings should be looked at"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/696. The max width for a number of strings are either too short or too long.

**Visuals**
<img width="960" alt="longmaxwidth" src="https://user-images.githubusercontent.com/41024075/129950837-83a8253a-560a-4689-a2a0-de3fd3ce8512.png">
<img width="753" alt="shortmaxw

[2021-08-18 20:45] chrisklus commented on #46
I met with @liam-mulhall today to discuss the options for using rosetta to for a non-published sim - it sounds like we don't currently have the tooling for this in place, so I will provide english strings to @DianaTavares and then can manually add an es file to babel in the format that rosetta would output. These would then be included in the next build for a dev version.

[2021-08-19 19:02] amanda-phet commented on #39
Thanks @KatieWoe for figuring this out!

[2021-08-19 19:24] amanda-phet commented on #40
Looks fixed to me! I had noticed that before too. Thanks for fixing.

[2021-08-19 19:24] #40 closed

[2021-08-23 16:18] KatieWoe opened #48 "CT Cannot read property press of null"
[code]

[2021-08-23 17:27] amanda-phet opened #49 "Switch word and ten-frame"
- [x] Since the locale toggle is in the "Word" accordion box, and that toggle also controls the language that is being spoken with the speech synthesis button, I think it would make sense for the accordion box to be closer to that button.

- [x] Likewise, on the Compare screen, we'll need to add a locale toggle up near the speech synthesis button.

[2021-08-23 17:48] amanda-phet commented on #31
@chrisklus and I were talking about this today, and I'm wondering if we could pull in translated strings for numbers with an API or something, since the word for 0-20 should be pretty easy to find out without relying on translators. And it would reduce the complexity of building the sim with translations.

One open question would be how to handle the compare statement on the compare screen- we mig

[2021-08-24 16:21] chrisklus commented on #46
In the above commits I added the Spanish translations from @DianaTavares. I made a file with the translations in the same format that babel outputs. I also met with @jbphet yesterday to ask where I should keep this file, and he said it seemed reasonable to commit it straight to master as long as I included the history parts too, which just added @DianaTavares's id as the translator, gave an approx

[2021-08-24 18:10] chrisklus commented on #42
Thanks @Nancy-Salpepi! Fixed in the commit above, closing.

[2021-08-24 18:10] #42 closed

[2021-08-24 19:18] chrisklus commented on #46
Thanks to the guidance of @jessegreenberg, we were able to add support for translated voices. Right now, if no voice for the desired locale is found, it will revert to english and print a message to the console that says the voice was not found. This seems to be working nicely for Spanish.

I'm going to close this issue for now, as I believe all the requirements for this prototype have been met. W

[2021-08-24 19:18] #46 closed

[2021-08-24 19:44] chrisklus opened #50 "Make the remaining items in the buckets align with in-progress animations instead of just the current total"
From https://github.com/phetsims/number-play/issues/23:

[2021-08-24 19:45] chrisklus commented on #23
In the above commits I created CountingCreatorNode, which is now used in ExplorePanel from make-a-ten and replaced OnesCreatorNode in number-play. OnesCreatorNode was originally duplicating lots of code from ExplorePanel. I also generalized it to support the display of ones or play objects, and added support for removing one of the two object representations when the sum is 1 away from being the t

[2021-08-24 19:45] #23 closed

[2021-08-24 19:46] chrisklus commented on #39
I committed a temporary fix above, which I will open a new issue for assuming this is working correctly as is. @KatieWoe could confirm this is no longer reproducible on master?

[2021-08-24 21:13] KatieWoe commented on #39
I saw a crash/freeze happen on master when trying to reproduce this. It doesn't always happen, and seems to happen if I miss trying to catch the object when recreating the bug.
<img width="959" alt="mayfixnewbug" src="https://user-images.githubusercontent.com/41024075/130690566-5b105f91-3894-490f-a492-627f9e2767bf.png">

[2021-08-24 22:40] chrisklus commented on #39
Thanks @KatieWoe! That was very helpful for me to figure out the actual source of this issue - I've been unable to figure out why setting the paper numbers to `pickable: false` was blocking mouse inputs but not touch inputs. I thought my temporary fix of just removing that input listener was working (but as you found out, it was just crashing the sim - i must have only tested once per sim run on m

[2021-08-25 16:54] chrisklus commented on #39
I forgot to mention that this change involved `counting-common`, so i think that was either not pulled or still cached.

[2021-08-26 16:02] chrisklus opened #51 "Single object cannot be removed from groups larger than 11"
If you try to remove an object from a group of, say size 14 (on the twenty screen), 4 are removed as a group instead of one

[2021-08-30 20:31] KatieWoe opened #52 "CT value failed isValidValue: -4"
May have occured before
[code]

[2021-09-07 15:31] amanda-phet commented on #28
I think this can be closed. If anything in interviews makes us think we should change the icon I'll open a new issue.

[2021-09-07 15:31] #28 closed

[2021-09-07 15:32] amanda-phet commented on #29
Update: Megan and I have been iterating on artwork options and now I'm thinking the whole suite of artwork needs to be different.

Constraints:
- make all artwork the same dimensions
- try to fill the rectangle with the artwork, so there isn't a strange whitespace area that can be grabbed

[2021-09-07 15:36] amanda-phet opened #53 "Update translated string for "ten frame""
Ian let us know that a more common translation of "ten frame" is "marco de diez" or "cuadro de diez".

Let's go with "marco de diez" since I am seeing that used a lot more in internet resources.

[2021-09-07 19:44] amanda-phet opened #54 "Game screen design"
- [ ] initial brainstorming
- [ ] wireframes
- [ ] mockups
- [ ] add to design doc with level descriptions, feedback, etc.
- [ ] share design with developers

[2021-09-07 19:50] amanda-phet commented on #36
This is all working now. One tweak I'd like to make is increasing the amount that the objects overlap before they combine. Something like if 25% of the objects is overlapping another object (or a group) then they combine.

[2021-09-07 19:56] amanda-phet commented on #30
I'd like to follow up on this issue with Ian and see what he is noticing in student interviews before we decide which UI component would help us solve this usability concern.

[2021-09-09 07:26] chrisklus commented on #49
In the above commits, I swapped the positions of the word accordion box and ten frame accordion box. I don't dislike it, but it definitely doesn't feel as natural as the original layout. Maybe I'm just too used to how it was.

Another possibility I thought of was to keep them how they were, and then move the speaker button to the left side of the word accordion box. To then make it not feel like t

[2021-09-09 07:34] chrisklus commented on #53
Updated in the commit above, ready to close if you are @amanda-phet

[2021-09-09 16:10] chrisklus commented on #30
I know this is lower priority but yesterday i was playing around with a design that would allow us to use both spinner buttons and at a reasonable size (they are just a tiny bit smaller than the buttons in the twenty screen numeral box). I made a quick one-off with them in place for your meeting with Ian so yall can at least try out the functionality.

https://phet-dev.colorado.edu/html/number-pla

[2021-09-10 16:16] chrisklus commented on #38
I weirdly cannot reproduce any of these locally, even though they are still happening on CT. I've tried many combinations of fuzz tests shown above. I'm going to work on other known bugs and see if that helps find or improve anything.

[2021-09-10 16:20] chrisklus commented on #20
Thanks @KatieWoe! Not sure what was up then, but the sim is building fine now. Closing.

[2021-09-10 16:20] #20 closed

[2021-09-10 16:21] chrisklus commented on #51
Sounds good, let's check in on this issue at design meeting today.

[2021-09-10 17:46] chrisklus opened #55 "Bring config patterns up to date"
There are a couple places where I'm using config, when really options should be used because the sim will not crash when the config keys are not provided. There is also a couple places where assertions are being used to check config values instead of `required()`

[2021-09-10 18:03] chrisklus commented on #55
I think things are in good shape now, closing.

[2021-09-10 18:03] #55 closed

[2021-09-10 19:31] amanda-phet commented on #29
We'd like to stick with images that fill their bounds nicely, and are more rectangular than square
- dog
- ice cream cone

Could consider using "sprites" instead of rectangle bounds, or explore having custom bounds instead of rectangular bounds. @chrisklus will talk to JO about these possibilities.

I'll return to which objects and how they should be designed after @chrisklus figures out what our

[2021-09-10 20:00] amanda-phet commented on #30
We like having the buttons. There are concerns about the buttons being on a 2D plane and the bucket on a 3D plane. They also have a lot of contrast against the bucket, making them more appealing than dragging the object.

Questions we'd like answered in interviews:
- Might want to consider switching the order to see what feels natural (consider a/b testing)
- How do the buttons interact with touch

[2021-09-10 20:01] amanda-phet commented on #30
@chrisklus needs to investigate the disabled button appearance in common code.

[2021-09-10 20:19] amanda-phet commented on #30
@amanda-phet will mock up a "flat" front bucket with no back and no gradient to review.

[2021-09-10 20:29] amanda-phet commented on #49
Discussed this and the idea to have buttons in different locations, and I'd like to mock up a few of the button ideas to see how it looks.

[2021-09-10 20:34] amanda-phet commented on #51
This is a question for Ian and other content experts. @amanda-phet will email Ian and ask his opinion, and see if he wants to run it by the teachers he is working with.

[2021-09-10 20:41] amanda-phet opened #56 "Objects return to bucket too easily"
In cases where the card on the right is large, I can accidentally return objects to the bucket too often. We need to tackle this.

![image](https://user-images.githubusercontent.com/7852916/132915225-bb41767d-2dbd-4c94-9190-e3c126d190a2.png)

[2021-09-14 20:28] chrisklus opened #57 "Convert language toggle to use ABSwitch"
Found during https://github.com/phetsims/number-play/issues/47.

The language controls currently are OnOffSwitchs decorated with labels, which is what an ABSwitch is (with added listeners for the labels, which seems desirable). It also uses a neutral background instead of giving one state preference with a green background.

[2021-09-14 21:57] chrisklus commented on #57
Completed in the commit above. I think this was a nice change UX wise, and simplified some things in code. I'll have @amanda-phet review later on as part of https://github.com/phetsims/number-play/issues/31 since the switch is currently disabled. If you'd like to take a look sooner, feel free to reopen and I'll enabled it so you can try it out. The only differences are that the labels are clickabl

[2021-09-14 21:57] #57 closed

[2021-09-14 22:05] chrisklus commented on #57
The other part of this change was better support for long strings - in all places it's used, it calculates the max widths for its labels by using the remaining space from the width of it's container without shrinking the switch or the padding around the switch.

The original implementation looked like this:

![image](https://user-images.githubusercontent.com/5618316/133340102-f65f73c4-56b4-42e8-8a

[2021-09-15 16:43] KatieWoe opened #58 "CT Required is not defined"
[code]

[2021-09-15 18:08] chrisklus commented on #58
Thanks @KatieWoe! This doesn't appear to have been a problem since 9/10, so I'm going to close.

[2021-09-15 18:08] #58 closed

[2021-09-16 06:23] chrisklus commented on #47
Thanks for bringing this to my attention @KatieWoe, this turned out to be a pretty finicky issue that required some additional structure changes to fix correctly.

Please test on phettest to confirm the strings all scale appropriately - another thing to pay close attention to is the size of the accordion boxes. As soon as the content of an accordion box is wider than its inner width, the whole thi

[2021-09-16 06:30] chrisklus commented on #16
Thanks @KatieWoe! This looks related to grouping code that no longer exists since we started using paper ones for objects, closing.

[2021-09-16 06:30] #16 closed

[2021-09-16 06:35] chrisklus commented on #48
Thanks @KatieWoe!

There were a number of bugs in CT for a while that went away when I removed the Lab screen. I'm not surprised there were so many since it was in an incomplete state. I'm going to close them since CT is clear and I won't be bringing the Lab screen until it's in a more finished state. For any that I close for this reason, I'll reference this comment as an explanation.

[2021-09-16 06:35] #48 closed

[2021-09-16 06:36] chrisklus commented on #52
This was related to the Lab Screen that has now been removed, see https://github.com/phetsims/number-play/issues/48#issuecomment-920618588.

[2021-09-16 06:36] #52 closed

[2021-09-16 06:37] chrisklus commented on #38
I believe this was related to the Lab Screen that has now been removed, see https://github.com/phetsims/number-play/issues/48#issuecomment-920618588.

[2021-09-16 06:37] #38 closed

[2021-09-16 06:38] chrisklus commented on #12
Thanks @KatieWoe! I'm not sure what this was from but it is very stale now and I haven't seen it on CT, closing.

[2021-09-16 06:38] #12 closed

[2021-09-16 06:43] chrisklus commented on #9
This issue is very old and based on the error, is not something that I think would happen infrequently or be hard to come across if was still a problem, so I'm going to close.

[2021-09-16 06:43] #9 closed

[2021-09-16 06:47] chrisklus commented on #10
Noting that when I converted the puppies to use paper one code, I did re-add a repelling feature related to the make-a-ten repelling when the puppies are in the ungrouped state. However, it no longer appears to be functioning, so I'll look at this again.

[2021-09-16 10:02] chrisklus commented on #30
I met with @pixelzoom today and we discussed how the current structure of sun buttons doesn't allow for this kind of change without duplicating the implementation of ArrowButton. @pixelzoom also recommended we reconsider the design of having the buttons on the bucket, as it doesn't look great, and it is much more intuitive for them to be vertically aligned (which reminded me of the design meeting

[2021-09-16 14:31] pixelzoom commented on #30
Love it. Some might argue that it's not as fun as dragging things out of a bucket. But it's definitely more accessible.  I'd also argue that it's more usable universally - while dragging things out of a bucket may seem fun at first, it gets old really fast. My 2 cents...

[2021-09-16 17:50] chrisklus opened #59 "CT: Module not found"
In https://github.com/phetsims/number-play/issues/30, I started making a new file by using a file from make-a-ten as a template, and some of the imports that were reused did not get updated to the correct path. For some reason, they were still working on my local copy so I never saw any issues until CT and phettest started having problems (notified by @KatieWoe).

[code]

[2021-09-16 17:56] chrisklus commented on #59
Fixed above, closing.

[2021-09-16 17:56] #59 closed

[2021-09-16 18:15] KatieWoe commented on #47
Looks good on master

[2021-09-16 18:36] chrisklus commented on #47
Awesome, thanks much! Closing.

[2021-09-16 18:36] #47 closed

[2021-09-27 16:59] amanda-phet commented on #30
@kathy-phet mentioned she wanted to put this in front of kids and see how they use it. I will put it in front of my kindergartener as an informal test, and added this issue to my list of interview things to look out for when we conduct formal interviews.

[2021-09-27 16:59] #30 closed

[2021-09-27 17:05] amanda-phet commented on #31
I am going to also investigate looking for an easy way to access translations for 0-20. If there is a file somewhere and we could run a script, or some other way to get this information into the sim without manual translations.

[2021-09-27 17:12] amanda-phet commented on #53
Looks good thanks!

[2021-09-27 17:12] #53 closed

[2021-09-27 17:29] amanda-phet commented on #49
I mocked up the button options and prefer option (2) where the buttons are more rearranged (and Word is back on the left side). Option (1) looks a bit lop-sided to me now that there are a lot of buttons on one side and a lot of empty space on the other side.

(1) All buttons are lined up on the right
![image](https://user-images.githubusercontent.com/7852916/134956878-005ca898-be26-453c-80bf-6d8db

[2021-09-29 15:42] KatieWoe opened #60 "CT no voices available to provided a prioritized list"
[code]

[2021-10-06 22:40] jessegreenberg commented on #60
This was tracked down generally in https://github.com/phetsims/scenery/issues/1293 and I believe has been fixed for Voicing, but I don't think it will be fixed for this usage of voicingManager.

SpeechSynthesis voices are not always available on page load (depending on the browser). But there is an event to listen to that lets you know when voices have been populated. I would recommend this patch

[2021-10-08 00:34] chrisklus commented on #60
Thanks @jessegreenberg - i committed your patch to see if that helps CT, but was not able to reproduce the problem locally, and `voicesChangedEmitter` doesn't fire after this code runs on my machine, so the function is never called for me. I will check in with you tomorrow to brainstorm.

[2021-10-08 00:48] #49 closed

[2021-10-08 21:43] jessegreenberg commented on #60
Ah, that makes sense, sorry.  I think it may be platform dependent. In that case would it work to call the listener eagerly and then also when the voicesChangedEmitter fires?

[2021-10-11 16:24] chrisklus opened #61 "branch: gameScreen"
@Luisav1 and i are going to develop the game screen for Number Play on this branch. It will be deleted once the game is complete and merged in.

[2021-10-11 16:27] chrisklus opened #62 "game screen: development"
@Luisav1 and I will make commits to this issue for the initial implementation of the game screen

[2021-10-12 15:33] amanda-phet commented on #54
These items are complete for the subtilizing game. The other game(s) will need to wait until other code is finalized, so when that happens we can start this process over again for any other game designs.

[2021-10-12 23:07] jessegreenberg commented on #60
Again, right you are. What do you think about this patch?

[code]

[2021-10-14 20:48] amanda-phet opened #63 "Request: change title from Numeral to Total"
IW requested this after trying to write activities to pair with the sim.

This would also mean the Spanish string needs to change, and I believe it's Total in Spanish too.

[2021-10-14 20:50] amanda-phet opened #64 "Request: add period to comparison sentence"
This was a request from a partner.

![image](https://user-images.githubusercontent.com/7852916/137393292-800d60e1-7324-423e-9e43-c24151fc1e77.png)

The sentence (in this case Cuatro es igual a cuatro) should have a period at the end.

[2021-10-27 19:01] kathy-phet opened #66 "Issue 1"

[2021-10-27 19:01] #66 closed, assigned to nobody

[2021-10-29 17:19] #51 closed, assigned to chrisklus

[2021-10-29 20:21] amanda-phet opened #69 "Add an option to make the handles shorter"
We'd like to make the handles a little shorter (as an option in the code) since they don’t stack with large numbers like Make a Ten.

[2021-11-01 19:26] amanda-phet opened #70 "New grouping paradigm for objects"
When the user switches to a "grouping" mode, all single objects will get a card background and maintain their full size:
![image](https://user-images.githubusercontent.com/7852916/139729149-0f7b2c91-e579-400c-8ce2-c3b2d4c65533.png)

As soon as someone layers 2 or more objects on top of each other, they shrink down and fill a ten-frame-ish layout.
![image](https://user-images.githubusercontent.com/

[2021-11-01 22:40] chrisklus commented on #64
All set, closing.

[2021-11-01 22:40] #64 closed

[2021-11-01 22:59] chrisklus commented on #63
All set, closing.

[2021-11-01 22:59] #63 closed

[2021-11-05 20:51] chrisklus commented on #61
The game screen was merged into master. If we need to publish a version of Number Play without the Game screen in the future, we can just omit it like we did with the Lab screen. Closing

[2021-11-05 20:51] #61 closed

[2021-11-05 20:57] chrisklus opened #71 "Convert to TypeScript"
@Luisav1 and I are going to attempt to convert the Game screen of Number Play to TypeScript. At some point, the rest of the sim will be converted too.

[2021-11-08 17:22] KatieWoe opened #72 "CT Missing string information"
[code]

[2021-11-15 18:29] Luisav1 commented on #72
Thanks @KatieWoe, the vegas dependency was missing from Number Play, fixed in the commit above. Closing this issue.

[2021-11-15 18:55] Luisav1 commented on #72
@KatieWoe Turns out the vegas dependency was not the issue and we're still working on it.

[2021-11-15 20:39] chrisklus opened #73 "Export built version of Number Play"
Requirements (from @kathy-phet):

Ten: Needs to have a working megaphone and the english/spanish toggle (disabled is fine unless that is already working)
Twenty: Needs to have a working megaphone and the english/spanish toggle (disabled is fine unless that is already working)
Compare: Latest version I saw was nice here
Game: You can put a screenshot of a game that will be included, unless you want

[2021-11-16 06:37] chrisklus commented on #60
Looks great, thanks @jessegreenberg! Closing.

[2021-11-16 06:37] #60 closed

[2021-11-23 17:28] KatieWoe opened #74 "CT cannot read properties of undefined"
[code]

[2021-12-02 17:52] Luisav1 opened #75 "Game Screen: Self Code Review"
# PhET Code-Review Checklist (a.k.a "CRC")

* The responsible dev is responsible for removing the irrelevant parts
* A checked-off item doesn't mean "no problem here", it means "it was reviewed"
* Problems can be noted in side issues that reference this issue, or through `// REVIEW` comments in the code

## Specific Instructions

Only checking Internationalization, Repository Structure, and Coding

[2021-12-07 21:02] Luisav1 opened #76 "Does the sim output any deprecation warnings? Run with `?deprecationWarnings`. Do not use deprecated methods in new code."

[2021-12-07 23:05] Luisav1 opened #77 "Create color file"
From my self code review in #75

  use `ProfileColorProperty` where appropriate, even if they have a single (default) profile (to support color editing
  and PhET-iO Studio). The `ColorProfile` pattern was converted to `*Colors.js` files in
  https://github.com/phetsims/scenery-phet/issues/515. Please see
  [GasPropertiesColors.js](https://github.com/phetsims/gas-properties/blob/master/js/common/G

[2021-12-07 23:16] Luisav1 opened #78 "Game Screen: Memory test"
From my self code review in #75

| Test | Memory Usage (MB) |
| --- | --- |
| Immediately after load | 18.5 |
| After 1 min of fuzz | 29.8 |
| After 2 min of fuzz | 35.2 |
| After 3 min of fuzz | 41.3 |
| After 4 min of fuzz | 47.1 |
| After 5 min of fuzz | 47.0 |
| After 6 min of fuzz | 50.9 |
| After 7 min of fuzz | 53.6 |
| After 8 min of fuzz | 61.4 |
| After 9 min of fuzz | 63.7 |
| After 10

[2021-12-08 19:28] Luisav1 opened #79 "Game Screen: Pointer areas"
From my self code review in #75

[2021-12-08 22:50] Luisav1 commented on #79
Pointer areas were optimized for touch by increasing the touch area on all the buttons. Closing this issue.

[2021-12-08 22:50] #79 closed

[2021-12-09 16:59] chrisklus commented on #79
They look great, thanks!

[2021-12-13 16:53] Luisav1 commented on #77
Color file created. Closing this issue.

[2021-12-13 16:53] #77 closed

[2021-12-13 17:15] Luisav1 opened #80 "Convert PlayObjectType to a supported enumeration pattern"
From #75

[2021-12-13 17:36] Luisav1 opened #81 "TypeScript questions"
From #75

* If levels include two types of levels, how do we only call resetStartSequence() on the type that has it?
[code]

* The newChallenge() function is in an abstract class and should only be called from it's sub-classes but TypeScript isn't letting us declare it as protected because the abstract view type NumberPlayGameLevelNode.ts calls level.newChallenge(), even though that is actually ca

[2021-12-13 17:45] Luisav1 opened #82 "Refactor the OnesPlayAreaNode"
From #75

The parts of CountingGameLevelNode.js, and other screens that are used for the play area need to be refactored once the play area is updated. Once the bounds handling for the OnesPlayArea and the paper numbers are improved, we don't need to add a y margin to them anymore.

[2021-12-13 20:50] chrisklus opened #83 "Complete model.md and implementation-notes.md"
From #75 (@Luisav1 and I are working on this part together)

We will write a first draft of model.md and implementation-notes.md, likely just for the Game, and then I'll come back in the future to finish them for the whole sim.

[2021-12-14 18:32] chrisklus opened #84 "Game Screen: code review"
# PhET Code-Review Checklist (a.k.a "CRC")

* The responsible dev is responsible for removing the irrelevant parts
* A checked-off item doesn't mean "no problem here", it means "it was reviewed"
* Problems can be noted in side issues that reference this issue, or through `// REVIEW` comments in the code

## Specific Instructions

Only the **Game** screen should be reviewed, all of which is in Type

[2021-12-14 18:34] chrisklus commented on #84
@Luisav1 and I went through her self-code review checklist in #75 and made this issue from it. When ready to proceed, @Luisav1 will assign CM to start the review.

[2021-12-14 19:19] Luisav1 commented on #83
@pixelzoom We completed a first draft of these for the game screen, let us know what you think. We also used your sims as an example, let us know if we copied too much of your style.

[2021-12-14 19:19] Luisav1 commented on #84
@pixelzoom The game screen is ready for review. Please note the special instructions at the top and reach out to us on slack if you have any questions.

Something we noticed during my review was that a lot of the coding conventions haven't been updated for TypeScript. Please let us know if you'd prefer for us to do our best in updating this list before you review, or perhaps you can review TypeScr

[2021-12-14 19:56] pixelzoom commented on #83
model.md looks really great!  model.md is a typically a high-level description, suitable for teachers and other non-developers, and this does the job.  Some feedback:

(1) Since the level-selection buttons are not labeled or numbered, it wasn't clear to me which buttons were 'Counting' vs 'Subitize', or 'Level 1' vs 'Level 2'.  If figured it out after playing with the game.  You might want to clar

[2021-12-14 20:24] pixelzoom commented on #84
Thanks.  Special instructions read and understood. No need to update the checklist for TypeScript.

[2021-12-14 20:26] pixelzoom opened #85 "Unused images and string."
Related to #84...

There are images and a string that are flagged as unused.  I realize that only one of these is related to the Game screen (game_screen_placeholder_png.js), but perhaps things are at a point where some of these can be cleaned up.

[code]

[2021-12-14 21:23] pixelzoom commented on #78
I see in #84 you said:

Sorry I missed that. But at least I confirmed it :)

[2021-12-14 21:25] pixelzoom commented on #78
Further down in #84, I see:

Sorry I missed that, I was working on the earlier checklist item. But at least I confirmed it :)

[2021-12-14 23:24] pixelzoom opened #86 "Image import identifier should match image file name."
Related to #84.

The dev team recently agreed (in https://github.com/phetsims/chipper/issues/1166) to make the `import` identifer match the file name (minus its suffix). And there will (soon?) be a lint rule that enforces this for image files.  That convention is not being followed for image imports in this sim.

For example, in NumberPlayGameScreen.js:

[code]

`gameScreenIconImage` does not matc

[2021-12-14 23:35] pixelzoom opened #87 "Unclear whether listeners need to be de-registered"
For #84 (Game screen: code review)

I inspected a random selection of `link`, `lazyLink`, `addListener`, etc.  There are no in-line comments indicating whether `unlink`, `removeListener`, etc. is required.   And there is no section in implementation-notes.md describing the approach to memory management.

If all/most such listeners can remain registered for the duration of the sim, it needs to be i

[2021-12-14 23:41] pixelzoom opened #88 "Cannot verify whether `dispose` is handled properly."
For #84

there a call to that component’s `dispose` function, or is it obvious why it isn't necessary, or is there documentation
about why `dispose` isn't called?  An example of why no call to `dispose` is needed is if the component is used in
a `ScreenView` that would never be removed from the scene graph.
...

I can't tell what this sim's policy is for `dispose` -- What classes should implement

[2021-12-14 23:48] pixelzoom commented on #83
Oh, I see.  The "1" and "2" on cards are the level numbers for the Counting game levels -- I missed that, thought they were just numbered cards like I'd seen in other screens. And the number of dots indicate the level numbers for the Subitize game levels.

I still think it's worth explaining in model.md.

[2021-12-14 23:53] pixelzoom opened #89 "Subitize level-selection buttons look wrong with stringTest."
For #84

With `stringTest=long` or even `stringTest=X`, the level-section buttons for the Counting game levels (top row of buttons) look totally wrong. They look like Subitize buttons:

<img width="988" alt="screenshot_1457" src="https://user-images.githubusercontent.com/3046552/146097580-f4f4faf1-6ed2-4fa4-96ee-717cd21ebce7.png">

Compare to without `stringTest`:

<img width="985" alt="screenshot

[2021-12-15 00:02] pixelzoom opened #90 "Most PNG files have no asset file."
For #84

This is not specific to the Game screen, but the Game screen does use image files.

This sim has a ton of PNG file. And assets/paper-numbers_number-play.ai is the only asset file that exists.  Looking at that file, it most certainly did not serve as the source file for all PNG files.  So it looks like there are many asset files that are missing.

I see this way too often in code reviews.

[2021-12-15 00:08] pixelzoom opened #91 "`showCorrectAnswer` query parameter is not used."
In NumberPlayQueryParameter.js, presumably related to the Game screen:

[code]

I can find no occurrences of `showCorrectAnswer` in the source code, so should it be deleted?

And for future reference, you should use `showAnswer`, which is defined in initialize-globals.js, because it can only be enabled via browser magic described in https://github.com/phetsims/special-ops/blob/master/doc/phetTeamM

[2021-12-15 00:10] pixelzoom opened #92 "Non-standard design and implementation of `gameLevels` query parameter."
For #84

In NumberPlayQueryParameters.js:

[code]

That implementation fails to keep levels sorted, which was requested by the design team when this general feature specified.  Unfortunately this query parameter can't be provided by the schema in initialize-globals.js, because every sim has a different number of game levels. (Perhaps we could provide common code that generates this schema?)

Here'

[2021-12-15 00:18] pixelzoom commented on #92
Tracking in https://github.com/phetsims/query-string-machine/issues/47.

[2021-12-15 00:21] chrisklus commented on #89
Oops, @Luisav1 we made the mistake of using a translated string as a key for the instead of creating an enum for this purpose

[2021-12-15 00:23] pixelzoom opened #93 "Improve documentation for `subitizerTimeVisible` query parameter."
For #84

In NumberPlayQueryParameters.js

[code]

This needs better documentation. What units are the time? What is "the shape"? (And why "the shape"? I see spheres, apples, etc. and certainly not singular.)

It's also not clear when this time is used.  From the code, it looks like it's only used conditionally:

[code]

[2021-12-15 00:24] pixelzoom commented on #93
Since this is `public: true`, it's especially important to improve the doc and make sure this is working as expected.

[2021-12-15 00:26] chrisklus commented on #92
@pixelzoom what you identified from FMW fails and reverts to default values if the levels are out of order. I thought it would be a better user experience to allow whatever levels the user specifies, in any order, to loosen the restraints on their end. And then the sim orders them afterwards so the levels can't be displayed out of order:

[code]

But I agree it would be nice if this schema was gen

[2021-12-15 00:29] pixelzoom opened #94 "Drop the "Property" suffix on the `colorName` argument to `new ProfileColorProperty`."
For #84

  use `ProfileColorProperty` where appropriate, even if they have a single (default) profile (to support color editing
  and PhET-iO Studio). The `ColorProfile` pattern was converted to `*Colors.js` files in https://github.com/phetsims/scenery-phet/issues/515. Please see [GasPropertiesColors.js](https://github.com/phetsims/gas-properties/blob/master/js/common/GasPropertiesColors.js) for a

[2021-12-15 00:36] pixelzoom opened #95 "OnesCreatorPanel.js has incorrect JSDoc"
In OnesCreatorPanel.js, incorrect JSDoc, flagged by WebStorm:

[code]

[2021-12-15 00:43] pixelzoom commented on #92
Oh dear, I see  that there's something else going on here with `gameLevels`.

In NumberPlayQueryParameters.js:

[code]

In NumberGameModel.js:

[code]

This naming/numbering scheme is contrary what was decided in other discussions about `gameLevel`.  I recall that we were going to always number levels, and that a number didn't have to correspond to difficulty.  It looks like an entire different de

[2021-12-15 00:45] pixelzoom commented on #92
That's because you've used an entirely different design and implementation for `gameLevels`.

This is not what was decided for the `gameLevels` query parameter in general, which (as I understood it) was supposed to operate consistently across all sims.

[2021-12-15 00:48] pixelzoom opened #96 "Unfamiliar TS pattern in CountingGameLevel.ts"
For #84

Please explain and document why these (duplicate?) underscore fields are needed in CountingGameLevel.ts:

[code]

[2021-12-15 00:50] pixelzoom opened #97 "Documentation for class properties should be placed with the declaration, not the instantiation."
For #84

This is violated in every .ts file that I've inspected.

From https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#documentation-for-class-properties:

[code]

[2021-12-15 00:55] chrisklus commented on #92
A decision was made in a design meeting for this sim to try expanding the API of `gameLevels` to allow for game screens containing multiple games. We thought it didn't make sense (in code or for the user) to only have numbers when dealing with two different games. But I see the issue if we are trying to use the exact same API for all games. Perhaps we can define two general APIs for `gameLevels` a

[2021-12-15 01:10] Luisav1 commented on #96
@chrisklus Wanted to try out a pattern that @samreid suggested. The purpose of duplicating it is to have one that is read/write privately in the class and one that is read only publicly. While there is duplicated attributes, there is still only one Property.

[2021-12-15 01:28] pixelzoom commented on #92
I should also point out that the association of 'a' and 'b' to 'Counting' and 'Suitize' respectively is not documented in NumberPlayQueryParameters.js, NumberPlayConstants.js, or any place that I could identify.    I had to read through the NumberPlayGameModel constructor to tease out that 'a' is 'Counting' and 'b' is 'Suitize'.   So I'm wondering how the reader of NumberPlayQueryParameters.js is

[2021-12-15 01:29] pixelzoom commented on #96
That would be good to document in the code, since it's not at all obvious what's going on.

[2021-12-15 01:30] pixelzoom commented on #96
That would be good to document in the code, since it's not at all obvious what's going on.

And when you're doing that, see also #97, so that the documentation is with the declaration, not the instantiation.

[2021-12-15 01:33] pixelzoom commented on #96
It looks like this pattern is not limited to CountingGameLevel.ts.  I see it in other places like Subitizer.js.   So another (alternative? additional?) place that you might consider describing it is in implementation-notes.js, which often has a **Patterns** section.

[2021-12-15 01:39] pixelzoom opened #98 "Incorrect uses of "property"."
For #84

In NumberPlayGameAnswerButtons.js, "property" and "properties" are incorrect:

[code]

[2021-12-15 01:58] pixelzoom opened #99 "Investigate replacing 'SubitizeGameLevel | CountingGameLevel' with NumberPlayGameLevel"
For #84

In CountingGameLevel.js:

[code]

I wondered why this no-op `step` method is here.  I'm guessing that it's because in NumberPlayGameModel.js, you're expecting all levels to have a `step` method:

[code]

If that's the case, then `step` should be part of the NumberPlayGameLevel base class API, either as a default no-op implementation, or abstract.  Ditto for `reset`, which should be public

[2021-12-15 02:03] pixelzoom opened #100 "Document `step( dt )`"
For #84

Throughtout the code:

[code]

... needs documentation, so we know what `dt` is, and what the units are (seconds, presumably).

[2021-12-15 02:08] pixelzoom opened #101 "Replace `arePointsEqual` with `_.isEqual`"
For #84

Consider replacing this bit of code in Subitizer.js:

[code]

... with:

[code]

To convince yourself that they are equivalent, put this line before the second `return` statement in `arePointsEqual`, and test with `?ea&fuzz`:

[code]

Documentation for `_.isEqual`: https://lodash.com/docs/#isEqual

[2021-12-15 02:11] pixelzoom opened #102 "Unnecessary overrides of NumberPlayGameLevelNode reset in subclasses"
For #84

In CountingGameLevelNode.js and in SubitizeGameLevelNode.js, you're overriding `reset` for the sole reason of changing its accessibility from protected to public:

[code]

This is undesirable. Simply make `reset` public in the supertype NumberPlayGameLevelNode, then delete these overrides.

[2021-12-15 02:18] pixelzoom opened #103 "Arrow functions don't need curly braces or return when the body is a single expression"
For #84

For arrow function like this one in SubitizeLoadingBarNode.js:

[code]

The curly braces (and `return`, if there was one) are unnecessary when the body of the function is a single expression.  For example, the above can be written:

[code]

You don't necessarily have to change occurrences of this, but it's good to know.

[2021-12-15 02:26] pixelzoom commented on #83
implementation-notes.md still feels sparse, and I didn't find it to be very useful in this review.  I identifed some required information in #87 and #88, so that should flesh things out a bit.  It would also be useful to identify patterns used, like #96.

Other than that, the best thing might be to flesh out implementation-notes.md in the context of the entire sim, rather than just the Game screen

[2021-12-15 02:32] pixelzoom commented on #84
I've complete the code-review checklist, and I also check [typescript-conventions.md](https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md).  I created a number of issues linked above, but most of them are relatively minor.  The one issue that does concern me is #92, the `gameLevels` query parameter.

Overall the code is in nice shape.  Easy to understand, and well-docum

[2021-12-15 02:33] pixelzoom commented on #84
Back to @Luisav1, let me know if you have any questions.

[2021-12-15 02:42] pixelzoom commented on #92
Of all the issues for #84 (code review) this is the one that concerns me the most.  I don't think it's a good idea to publish a sin with a public `gameLevels` query parameter whose format and behavior is inconsistent with other PhET sims.

History:

The `gameLevels` query parameter was first discussed in https://github.com/phetsims/vegas/issues/86.

The design of the `gameLevels` query parameter w

[2021-12-15 17:18] Luisav1 commented on #84
Thanks @pixelzoom for reviewing this! I'll let you know if any questions come up. Would you like me to assign the issues back to you or back to @chrisklus for review?

[2021-12-15 17:38] pixelzoom commented on #84
If @chrisklus has time to review, that would be preferrable.  But if he doesn't have time, or something needs futher input/discussion, feel free to assign back to me.

[2021-12-15 18:44] Luisav1 commented on #101
Fixed in the commit above, back to @chrisklus to review and close if all looks good.

[2021-12-15 18:51] Luisav1 commented on #103
Fixed in the commits above, back to @chrisklus to review and close if all looks good.

[2021-12-15 18:56] Luisav1 commented on #94
Fixed in the commit above, back to @chrisklus for review and to close if everything is fixed.

[2021-12-15 18:57] Luisav1 commented on #98
Fixed in the commit above. Back to @chrisklus for review to close if everything is fixed.

[2021-12-15 19:31] Luisav1 commented on #89
@chrisklus and I think the way we fix this depends on how we redo the gameLevels. If we keep the 'a' and 'b' pattern, then we can use the constants here, otherwise an enum would be created.

[2021-12-15 19:33] Luisav1 commented on #90
@amanda-phet Could you provide the corresponding asset files we've used so far?

[2021-12-15 19:49] Luisav1 commented on #91
For #84.

We are still using showCorrectAnswer in the source code, but will change it to showAnswer instead and remove showCorrectAnswer from NumberPlayQueryParameters.

[2021-12-15 21:31] amanda-phet commented on #90
I will take care of this when we have the final artwork! Most of the assets being used right now are temporary, but I am aware of the following things that might need assets:

- [ ] objects used in play area (currently dog, apple, turtle, ball)
- [ ] level selection icons
- [ ] screen icons

When they are finalized I will upload assets, and provide attribution as not all will be created by me.

[2021-12-15 21:32] chrisklus commented on #103
Commits look good and I didn't see any other cases that were appropriate to change, thanks! Closing.

[2021-12-15 21:32] #103 closed

[2021-12-15 21:42] amanda-phet commented on #92
As @chrisklus said, the Number Play game has two "games", each with two levels. We didn't think a numeric pattern made sense for identifying the games/levels to display. I see now that it is a very custom query parameter, but in the discussion we thought it was a pattern that would work for future sims with multiple games and levels on one screen.

@pixelzoom I'm curious what you would recommend i

[2021-12-15 21:48] Luisav1 commented on #91
Fixed in the commit above. Back to @chrisklus to review and close if everything is good.

[2021-12-15 21:51] kathy-phet commented on #92
Just noting that 2 query parameters does not let us do all the combinations we want, unless designed to work a different way than the one query parameter.

[2021-12-15 22:13] Luisav1 commented on #100
Fixed in the commit above. Back to @chrisklus to review and close if everything looks good.

[2021-12-15 22:19] chrisklus commented on #101
Commit looks good. I forgot that `_.isEqual` would know how to drill down and compare `v.x` and `v.y`, nice. Closing.

[2021-12-15 22:19] #101 closed

[2021-12-15 22:20] chrisklus commented on #100
Looks good, closing.

[2021-12-15 22:20] #100 closed

[2021-12-15 22:23] chrisklus commented on #98
Commit looks good and I didn't see any other incorrect usages, closing.

[2021-12-15 22:23] #98 closed

[2021-12-15 22:30] chrisklus commented on #94
Looks great, thanks. Closing.

[2021-12-15 22:30] #94 closed

[2021-12-15 22:41] chrisklus commented on #91
Commit looks good, thanks. I also renamed `NumberPlayGameAnswerButtons.showCorrectAnswer` to `NumberPlayGameAnswerButtons.showAnswer` to be closer aligned with the general QP name. Closing

[2021-12-15 22:41] #91 closed

[2021-12-15 23:13] chrisklus commented on #95
Thanks @pixelzoom. I had that WebStorm setting turned off for some reason, but found the setting that flagged the problem when turned on. Fixed and closing.

[2021-12-15 23:13] #95 closed

[2021-12-15 23:22] Luisav1 commented on #93
Fixed in the commit above. Back to @chrisklus to review and close if all is good.

[2021-12-16 00:06] Luisav1 commented on #96
Fixed in the commit above. Back to @chrisklus to review and close if all is good.

[2021-12-16 02:21] pixelzoom commented on #92
I'm not really recommending anything -- I'm just pointing out that we had a very general design discussion about `gameLevels`, with the goal that it should be a general query parameter (which was why it was in vegas) with consistent behavior. That consistent behavior is embodied in common code (see https://github.com/phetsims/vegas/issues/100) and is used by all sims that support the `gameLevels`

[2021-12-16 02:30] chrisklus commented on #93
Thanks @Luisav1 - I moved the units into the description since `NumberPlayConstants.SHAPE_VISIBLE_TIME` already has units where it's declared, and added some specificity with how it relates to a single challenge. Closing.

[2021-12-16 02:30] #93 closed

[2021-12-16 03:13] chrisklus opened #104 "branch: labScreen"
This branch is needed to keep some unused assets around for the Lab screen. It will be deleted once development on the Lab screen is resumed and it's added back to the sim again.

[2021-12-16 22:26] amanda-phet commented on #92
12/16/21 meeting discussion:
* reviewed history of the qp and issue at hand
* considered using ascending numerals no matter the game type (in this case 1,2,3,4, and in the case of Fractions, 1-20)

Brainstormed ideas for renaming this variant of gameLevels, so it sounds similar, but has a different name so that it doesn't get confusing. This qp would have input type of string, and would have custo

[2021-12-16 23:53] pixelzoom commented on #92
I would stick with `gameLevels`, I don't think this needs to be different or so complicated.

Document the values of `gameLevels` for this sim like this:

[code]

In NumberPlayGameLevels.js:

[code]

Then hide level-selection buttons for the levels that are not included in `gameLevels`.

This will fix a BIG problem that you currently have, and which I did not notice/report. In the model, you're co

[2021-12-17 00:08] pixelzoom opened #105 "NumberPlayGameModel creates levels conditionally, which will break PhET-iO API."
For #84. I originally mentioned in https://github.com/phetsims/number-play/issues/92#issuecomment-996283330, but I thought this was worthy of its own issue, so I moved it here.

NumberPlayGameModel currently creates instances of CountingGameLevel and SubitizeGameLevel, based on the value of `?gameLevels`.   Since I see that NumberPlayGameModel  has a `tandem` parameter, Games levels will presumabl

[2021-12-17 00:17] pixelzoom commented on #92
If you need getGameLevelsSchema.js to be flexible about the ordering of values (e.g. `gameLevels=3,1`), we can easily add an option for that.

[2021-12-17 02:00] kathy-phet commented on #92
Chris - Sorry to miss you today. One take away from the discussion today was how gameLevels 1,2,3,4 implicitly implies a "getting harder" kind of notion. You can document the intention, but the implication is hard to disassociate. So given that we have other games (like Build a Fraction) that have different kinds of games that should not be compared as harder, and are likely to have additional sim

[2021-12-17 15:04] pixelzoom commented on #92
I understand.  But we did discuss this point explicitly when we originally designed the `gameLevels` parameter, and concluded that it wasn't a big deal in a query parameter.  After all, we have "level selection buttons" in the code, we refer to the buttons UI as "the level selection screen", etc. and we aren't planning to change that terminology.

What you're seeing here is internal terminology le

[2021-12-17 15:24] pixelzoom commented on #92
Other reasons whey I feel`gameChoice` is not a good direction ...

(1) You're proposing to change the definition of "game" and "level", and introduce something called "choice". This was at first confusing to me when doing the code review, and I did figure it out.  But I would argue that the impact/cost of that difference was much larger (and more expensive) that it the design team had stuck to the

[2021-12-17 18:55] Luisav1 commented on #102
@chrisklus and I worked on this together. Closing.

[2021-12-17 18:55] #102 closed

[2021-12-17 19:10] Luisav1 commented on #99
@chrisklus and I worked on this together. We weren't able to add the step function in the base class as an abstract without overriding it as a no-op in CountingGameLevel, so we just made it no-op in the base class and deleted it from CountingGameLevel. After that and making reset() public, we were able to use NumberPlayGameLevel as the parameter type everywhere. Closing.

[2021-12-17 19:10] #99 closed

[2021-12-17 21:45] Luisav1 commented on #105
@chrisklus and I worked on this together. We are creating all the levels and the buttons now but are only including the specified buttons in the selection. We might adjust how this is done depending on the results of the discussion from #92.

[2021-12-20 20:00] chrisklus commented on #86
Completed in https://github.com/phetsims/chipper/issues/1177, closing.

[2021-12-20 20:00] #86 closed

[2021-12-21 16:06] pixelzoom commented on #92
@kathy-phet said:

From the broader gaming community, here's a definition of "game level" https://www.webopedia.com/definitions/game-level/:

Note the use of "usually" and "may" in this definition; there can be exceptions.  While it may be the case that game levels usually get more difficult, it's not set in concrete.  And I would argue that that is another reason why we should stick with `gameLev

[2021-12-21 16:33] pixelzoom commented on #92
Here's `gameLevels` implementation if it's done like in other sims, full-supported by common code:

[code]

Here's `gameLevels` with the "choices" proposal:

[code]

[2021-12-21 17:06] pixelzoom commented on #92
I like @ariel-phet's suggestion (at 12/21 design meeting) about being able to specify a range, like `gameLevel=1-4,9-12`.  But that's not supported by PhET's query parameter implementation, and adding it would be a significant piece of work.   So since a query parameter is something you usually set up once, I would (for now) put the burden back on the user to type (e.g.) `gameLevel=1,2,2,4,9,10,11

[2021-12-21 17:13] pixelzoom commented on #105
Mentioned at 12/21 design meeting for #92...   To "PhET-iO proof" the sim, all of the buttons should be added to scenegraph, then set `visible: false` for the ones that are not in `gameLevels`.  This will allow the PhET-iO client to get at them if needed.

Your layout for the level-selection buttons will be something like:

[code]

... then confirm with @amanda-phet that the layout looks good for

[2021-12-21 17:15] amanda-phet commented on #92
We decided in the 12/21 design meeting to move ahead with `gameLevels` and *not* make a custom query parameter.

[2021-12-21 23:37] Luisav1 commented on #92
@chrisklus and I worked on this issue. We are unsure of how much to let the query parameter level numbers leak into the sim code since the model currently thinks of them as level 1 and level 2 for each game so we'll continue tomorrow.

<details/>

[code]

[2021-12-21 23:39] Luisav1 commented on #89
@chrisklus and I also worked on this but ran into an issue using enums as the key to a map for the level images so we're wondering if this might be a place to use rich enumerations instead.

[2021-12-22 17:40] Luisav1 commented on #85
@chrisklus and I finished this off together. Closing.

[2021-12-22 17:40] #85 closed

[2021-12-22 17:42] Luisav1 commented on #104
Need to revert the commit https://github.com/phetsims/number-play/commit/4140e6c091b86d5ccc5a6799cbeaeb898d360522 before working on the lab screen again.

[2021-12-22 22:09] chrisklus commented on #92
The way we are controlling the visibility of the level buttons doesn't feel as clean as it worked out in Fourier, but what we committed above feels like a better solution than "mixing" the external facing level numbers in with the model. Closing.

[2021-12-22 22:09] #92 closed

[2021-12-22 23:16] chrisklus commented on #89
In the above commit, @Luisav1 and I converted the model to have an enumeration value as its game type. This game type is then used in maps to get the game type name and button image for each game type + level combo. Since this pattern feels like we are just making a fake rich enumeration and there are various lint problems with the syntax for both defining the type with an enum in it and using an

[2021-12-22 23:16] #89 closed

[2021-12-22 23:19] chrisklus commented on #75
@Luisav1 completed this self code review so we are closing.

[2021-12-22 23:19] #75 closed

[2022-01-04 18:06] KatieWoe opened #106 "CT tsc failed with code:2"
[code]

[2022-01-10 17:19] chrisklus commented on #106
thanks @KatieWoe! I think I forgot to push changes to `counting-common` along with a push to Number Play. Fixed now, closing.

[2022-01-10 17:19] #106 closed

[2022-01-10 17:23] chrisklus opened #107 "Swap out turtle play object for cupcake"
@amanda-phet sent over some new images for the play objects, and I just replaced the images for the dog and the ball, which was all that was needed for adding those. The cupcake will need to be changes in the enum wording as well since it's a different object.

[2022-01-10 17:39] chrisklus opened #108 "Make new images for the linking buttons and game screen"
While working on #107, @Luisav1 noticed that the buttons for the grouping and linking have outdated images. We should at least update them with the new dogs, and consider revisiting their design. It might be appropriate to make them in code.

The design of the first seems solid. The second is hard to see as is and will be hard to show the same representation of two dogs one on card since they will

[2022-01-10 18:04] chrisklus commented on #108
We also noticed that the Game Screen button images for the counting game should be updated now that the turtle was removed in #107

[2022-01-10 20:29] KatieWoe opened #109 "Sound is muted and disabled"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/761.
The sim does not have any game sounds. The nav bar shows a sound button, which is muted by default and greyed out so sound cannot be turned on. This is the default state of the sim and no query parameters were used to achieve this state.

**Visuals**
<img width

[2022-01-10 20:46] amanda-phet commented on #29
This is somewhat of a duplicate, and also complete task. Closing.

[2022-01-10 20:46] #29 closed

[2022-01-10 20:55] Nancy-Salpepi opened #110 "Query parameter "subitizerTimeVisible" does not work"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.01.1

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/761

I am getting an Invalid Query Parameter message when I add  'subitizerTimeVisible' to the end of the url. I also tried subitizerTimeVisible=true as did @KatieWoe and that did not work. Is there something else that needs to be added?

**Step

[2022-01-10 21:09] chrisklus opened #111 "subitizerTimeVisible query parameter should be renamed"
From https://github.com/phetsims/number-play/issues/110.

The name `subitizerTimeVisible` is very misleading, as discovered by @Nancy-Salpepi and @KatieWoe. It looks like a boolean value, but instead is used to get a number input for how long the subitizer shape should flash for during a challenge.

@Luisav1 and I thought of a couple possibilities:

`subitizerTimeShown`
`subitizerTime`

Marking fo

[2022-01-10 21:10] chrisklus commented on #110
Thanks @Nancy-Salpepi! The value is of type `number`, but it's clear now that this is a very misleading name for the query parameter, since just about every type that ends in `visible` at PhET is referencing a `boolean` (for query parameters, either as a flag or with values `true` and `false`).

For now, please test it with numbers and @Luisav1 and I opened https://github.com/phetsims/number-play/

[2022-01-10 21:21] KatieWoe opened #112 "Reset All may lead to repeated and miscounted levels"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/761.
If you leave a level after getting it right but before seeing the next one, and then use reset all, then re-entering that game will show you the previously beaten level and beating it will not count toward your new score.

**Steps to reproduce**
1. Go to the to

[2022-01-10 21:29] KatieWoe commented on #112
I also noted that, if you hit reset all before answering, the new starting level will have the same answer as the level you reset. If this is the first level then the depiction of the number doesn't even change.

[2022-01-10 21:34] Nancy-Salpepi commented on #110
@chrisklus Query parameter works when I use numbers. Thanks for the clarification!

[2022-01-10 21:34] #110 closed

[2022-01-10 21:34] CliffordH123 opened #113 "Subitize games do not return to the same problem"
Both Subitize lvl1 & 2 when entered will load a problem/challenge involving a random type of and number of objects before hiding them from view. It then ask the user to pick what number of objects were shown. I noticed that if you pick the wrong answer or no answer at all and then leave and re enter the Subitize you were just in that the problem re-loads instead of returning to the state you left

[2022-01-10 21:35] KatieWoe commented on #112
It also seems to only impact the top two games.

[2022-01-10 22:07] chrisklus commented on #112
Nice find @KatieWoe! What you demonstrated is the only way to play the game without triggering a "new challenge", which fires when the play button (on the subitize game) or next button (on both games) is pressed. The counting games are setup and start running just from the instantiation of the screen.

@Luisav1 and I fixed by setting a random value for the play object type and challenge number on

[2022-01-10 22:18] KatieWoe commented on #112
Looks good on master

[2022-01-10 22:18] #112 closed

[2022-01-10 22:32] chrisklus commented on #113
Thanks! @CliffordH123 and I briefly discussed on Slack before we decided to open this issue - @Luisav1 and I were thinking that the behavior in the subitize game is appropriate because we are reshowing the start sequence (play button with loading bar) so it doesn't make sense to show the same challenge again since it feels like we are starting the user off with a new sequence of challenges. But we

[2022-01-10 23:11] KatieWoe commented on #113
Linking to https://github.com/phetsims/qa/issues/761

[2022-01-10 23:20] KatieWoe opened #114 "Subitize level title"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/761
I'm wondering about calling the subitize levels subitize? I had to look the term up to know what it meant. I doubt a kid would know what it meant. I know that the students won't be relying on words for the sim, but it did strike me as odd.

**Visuals**
<img widt

[2022-01-10 23:20] chrisklus opened #115 "Should sound be turned on?"
@Luisav1 and I turned on sound for the game (and consequently, the rest of the sim) over in https://github.com/phetsims/number-play/issues/109. The sounds for the games all match what Fourier's game does, except the correct and incorrect buttons in this game are just standard button sounds. We should be able to easily update these to match the sounds that Fourier's game makes when an answer is sub

[2022-01-10 23:22] chrisklus commented on #109
Thanks @KatieWoe! @Luisav1 and I turned on sound for the sim in the above commit. It looks like the game sounds are working as expected, with the exception of clicking a correct and incorrect button in the challenges. We opened https://github.com/phetsims/number-play/issues/115 to address that case. Those sounds aside, please verify this issue on master and close if it looks good.

[2022-01-10 23:25] chrisklus commented on #114
Thanks @KatieWoe! From our discussion on Slack:

Assigning to @amanda-phet - we may have discussed this already to feel free to close if all set.

[2022-01-10 23:44] KatieWoe commented on #109
Looks good on master

[2022-01-10 23:44] #109 closed

[2022-01-12 01:39] amanda-phet commented on #113
Hm, I'm not sure what to do to make the games more consistent. I agree with @chrisklus that the two games are different in that Subitize feels like you are starting a new instance each time, so that behavior should remain. I just checked Make a Ten, a similar game (and similar age), and each time you click a level, go back, and click that level again, it's a new challenge. So I'm wondering if we s

[2022-01-12 01:52] amanda-phet commented on #114
That's correct that it's for the teacher. However, this reminds me that we need an info button on the level selection screen. Can we do something like this?

![image](https://user-images.githubusercontent.com/7852916/149049095-6ce4bc26-05f9-483f-990e-6cded7298cd9.png)

![image](https://user-images.githubusercontent.com/7852916/149049711-9c6a4a9b-c85b-4353-81ae-781f97a84df7.png)

See Equality Explo

[2022-01-12 02:00] amanda-phet commented on #115
We decided not to turn on UI sounds for this sim (but game sounds seem like a good idea to me- I can review those separately). If/when the grant gets funded to work on this sim more, we will do sound design for the rest of the sim.

[2022-01-12 17:45] chrisklus opened #116 "Convert GroupingLinkingType to RichEnumeration"
From my question in https://github.com/phetsims/chipper/issues/1106#issuecomment-1006946804, @zepumph assisted me by showing that a Map could work for mapping enumeration values to images. GroupingLinkingType should be converted back to a RichEnumeration now that I know of a supported way to use the image map.

[2022-01-12 17:48] chrisklus commented on #116
@Luisav1 and I completed this refactor in the above commits. Closing.

[2022-01-12 17:48] #116 closed

[2022-01-12 17:58] chrisklus commented on #114
Sure thing @amanda-phet. The dialog screenshot made @Luisav1 and I think that the game names should either be "Counting" and "Subitizing" or "Count" and "Subitize", what do you think?

[2022-01-12 18:19] chrisklus commented on #62
With the exception of a few outstanding issues, game screen development is complete and has been reviewed. Closing.

[2022-01-12 18:19] #62 closed

[2022-01-12 18:23] chrisklus opened #117 "Clean up BaseNumberNode and BasePictorialNode"
I think these should be merged back into the same class because they show share the same external shape and layering behavior.

[2022-01-12 18:36] chrisklus opened #118 "Refactor OnesPlayArea and OnesPlayAreaNode"
There are several bounds issues and how those bounds relate to the model and view to figure out here.

[2022-01-12 18:41] chrisklus commented on #26
This work is complete (but still buggy looking because of bounds issues in the play areas). Those issues are being working on in #118. Closing

[2022-01-12 18:41] #26 closed

[2022-01-12 18:45] chrisklus commented on #70
The initial pass of this work was completed. The remaining work to make the cards stack like the numbers and the small objects to return to big objects will be completed in #117.

[2022-01-12 18:45] #70 closed

[2022-01-12 18:50] chrisklus commented on #21
I am not sure of the state of this issue. It should definitely be verified by QA before prototype publication. @amanda-phet do you remember any more details that came from these findings with Ian?

[2022-01-12 18:59] chrisklus opened #119 "Investigate making OnesPlayAreaNode reuse code from counting-common/CountingCommonView"
The last step for https://github.com/phetsims/number-play/issues/19.

[2022-01-12 19:00] amanda-phet commented on #114
Ha, I was thinking the same thing. Let's call the second game "Subitizing."

[2022-01-12 19:12] chrisklus commented on #19
The vast majority of this work was completed. The remaining file in Number Play that duplicates code from Make a Ten will be worked on later in https://github.com/phetsims/number-play/issues/119.

[2022-01-17 18:46] chrisklus opened #120 "Refactor Compare screen to use one play area"
The Compare screen currently uses two play areas - one for the dog and apple, and another for the paper numbers. When switching between those two, one play area is hidden and another is shown, resulting in the paper numbers being in different positions than the dogs or apples. With the changes in paper numbers in https://github.com/phetsims/number-play/issues/117, it should be possible to just use

[2022-01-18 16:57] amanda-phet commented on #21
I think we found out that he was using an unsupported version of iOS, so I believe this issue can be closed.

[2022-01-18 16:57] #21 closed

[2022-01-18 23:35] chrisklus commented on #120
This is complete, closing. Next steps are to factor out the accordion boxes as well, which should address the "resizing" creator node when switching between types.

[2022-01-18 23:35] #120 closed

[2022-01-20 04:13] chrisklus opened #121 "Improve AccordionBox usages"
From meeting with @jonathanolson today - he gave some suggestions for how to better define their size and not resize in case of a content size change.

I will also use this issue to remove a lot of duplicated code - there is currently OnesAccordionBox, ObjectAccordionBox, and CompareAccordionBox, and with all of the generalizations that have been made, the functionality of all of these could be si

[2022-01-20 04:49] chrisklus opened #122 "Add option for shortening handles"
@kathy-phet requested that Number Play use shorter handles since only 1 and 10 size cards are used. We would like the handles to look like they do for 1000 and 100 in Make a Ten.

[2022-01-20 05:01] chrisklus commented on #122
Completed in the above commits, closing.

[2022-01-20 05:01] #122 closed

[2022-01-24 21:03] chrisklus commented on #35
Added above. For now, the query parameter is a flag named `countAloud`. @amanda-phet and I also considered `countAloud` and we're open to other suggestions. Labeling for design meeting 1/27.

One thought: we might want to consider adding a small delay so that rapid changing of the current number doesn't play the very beginning of the number multiple times before reading out a full number.

[2022-01-24 23:27] chrisklus commented on #121
This issue is complete, closing.

[2022-01-24 23:27] #121 closed

[2022-01-25 01:01] chrisklus commented on #45
Thanks @Nancy-Salpepi! This was fixed recently with work being done over in https://github.com/phetsims/number-play/issues/117. The newly unpaired objects are now no longer part of a group.

[2022-01-25 01:01] #45 closed

[2022-01-25 01:08] chrisklus commented on #44
Thanks @Nancy-Salpepi! The behavior described in this issue is now behaving as desired. When you switch from ungrouped mode back to grouped, the cards are brought back to the dogs. They are no longer grouped like they might have been when previously in grouped in mode, but that is intentional based on discussion from 1/20 design meeting. Closing.

[2022-01-25 01:08] #44 closed

[2022-01-25 02:56] chrisklus opened #123 "Fix layout for organizing objects"
Leftover work from https://github.com/phetsims/number-play/issues/26, now being addressed because of progress in https://github.com/phetsims/number-play/issues/118.

From design meeting notes:

![image](https://user-images.githubusercontent.com/5618316/150902504-84c14f44-a67a-47c1-b2db-4a39993bbb93.png)

[2022-01-27 07:43] chrisklus commented on #31
@jbphet and I met this afternoon and were able to figure out a way for this to work with the `_all` version of the sim. I added initial support in the above commits. Labeling for discussion during design meeting tomorrow.

[2022-01-27 08:43] chrisklus opened #124 "Play areas can get out of sync with the total"
This has been around for a long time, I just hadn't made an issue for it yet. I was looking into it tonight and have figured out what's going on.

The issue is caused when a paper number is created from the creator node, animates out into the play area, but is still touching the creator node when it stops animating. This shouldn't happen in general, but the underlying bug here is that when the num

[2022-01-27 09:09] chrisklus commented on #124
Both issues were fixed in the above commits. I also found another bug related to grouping/linking that I fixed. There is more to discuss for this issue - I will update it with details soon.

[2022-01-27 14:39] chrisklus commented on #123
Completed in the above commits, marking for design meeting review.

[2022-01-28 18:13] chrisklus opened #125 "Changes to organize buttons"
From 1/27 design meeting:

We decided to keep the organize buttons around all the time instead of conditionally removing them. We also would like to add organize buttons on the Compare screen.

[2022-01-28 18:14] chrisklus commented on #123
Design team signed off on these changes on 1/27. Follow up changes are happening over in https://github.com/phetsims/number-play/issues/125. Closing.

[2022-01-28 18:14] #123 closed

[2022-01-28 19:12] chrisklus commented on #125
Completed in the commits above. I also tried making the buttons square to match the height of closed accordion boxes. I like them. Marking for design meeting review.

[2022-01-28 19:54] amanda-phet opened #126 "Counting game should alternate grouped and ungrouped object challenges"
Currently, the challenges alternate
- ten-frame
- grouped objects
- ten-frame
- grouped objects
- etc.

I think we want something more like this
- ten-frame
- ungrouped objects
- ten-frame
- grouped objects
- ten-frame
- ungrouped objects
- ten-frame
- grouped objects
- etc.

[2022-01-28 21:39] chrisklus commented on #124
For QA: The one bug I know of for sure right now regarding this issue is that the play areas can get out of sync if you "organize" the play objects while any are on their way back to the creator panel.

[2022-01-28 22:08] chrisklus commented on #124
Another thing to note - I don't think this issue will hold up well for multi-touch yet - if it is clearly easy to mess up, please just make a note in https://github.com/phetsims/number-play/issues/6. Thanks!

[2022-01-28 23:05] KatieWoe opened #127 "Memory Leak"
For https://github.com/phetsims/qa/issues/771. This seems to indicate a memory leak.
Start: 25.4 MB
1 min: 127
2 min: 200
3 min: 250
4 min: 297
5 min: 343

[2022-01-28 23:15] KatieWoe opened #128 "Cannot read properties of undefined reading x"
For https://github.com/phetsims/qa/issues/771. While fuzzing for https://github.com/phetsims/number-play/issues/127 this error appeared in the console 3 times in the 5 minutes of the test. The fuzzing did not stop due to the errors.
<img width="350" alt="bug" src="https://user-images.githubusercontent.com/41024075/151633937-87ff2549-c4b2-4a5b-bb71-c18aaf16daa7.png">

[2022-01-28 23:56] chrisklus commented on #10
The make-a-ten supported version of separating is working again - is this sufficient @amanda-phet? You can still end up with two on top of each other if you set up a situation to make that happen, the object you drop will always split away from the closest object it was dropped on.

[2022-01-29 00:03] chrisklus commented on #13
This code block was removed when fixing another bug (ha!). I found that commit and tagged it above to this issue. Closing.

[2022-01-29 00:03] #13 closed

[2022-01-29 00:14] chrisklus commented on #35
We reviewed this in design meeting and think it's good to go.

During design meeting, we did notice there was a 1 or 2 second delay for the first expected sound to play, so I reached out to @jbphet to ask. (I've noticed this happening occasionally, not specific to this feature. I think it is related to just voicing, though). He said that a delay of that long should not be happening - it should be

[2022-01-29 00:14] #35 closed

[2022-01-29 00:26] chrisklus commented on #73
This was completed, closing.

[2022-01-29 00:26] #73 closed

[2022-01-29 01:46] chrisklus opened #129 "Update colors"
In 1/27 design meeting, @ariel-phet mentioned he wasn't loving the darker green accordion boxes, primarily because their color clashes with the green plus when they are closed. I expressed I've also not been loving the greens in general, and would like to try out some other options.

[2022-01-29 01:49] chrisklus commented on #129
Oops, I accidentally duplicated this issue over in https://github.com/phetsims/number-play/issues/122, closing.

[2022-01-29 01:50] chrisklus commented on #69
Oops, I accidentally duplicated this over in https://github.com/phetsims/number-play/issues/122, closing.

[2022-01-29 01:50] #69 closed

[2022-01-29 04:20] chrisklus commented on #129
Here's a few different directions we could play with if we like any of them.

Reference: https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.40/phet/number-play_en_phet.html
Purple: https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.41/phet/number-play_en_phet.html
Slightly darker purple: https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.44/phet/number-play_en_phet.html
Brown: ht

[2022-01-29 04:22] chrisklus commented on #111
I forgot to bring this up in last design meeting. @amanda-phet any thoughts?

[2022-01-29 14:37] kathy-phet commented on #129
@chrisklus - Thanks for seeding a color discussion. I want to understand the connection to the compare screen. I see that the background to the Ten and Twenty screens become the backgrounds on the compare screen ... but I don't really see a reason that has to be the case. These could have their own colors. I don't recall a pedagogical reason they were tied together.

[2022-01-29 17:16] ariel-phet commented on #129
@chrisklus I think dev.43 or dev.41 are my favorites, with a slight preferences for dev.43 -- I think that does not overemphasize the top panels and also looks very clean.

[2022-01-29 20:58] chrisklus commented on #129
Good question - I'm not sure of a pedagogical reason. I think that was @amanda-phet's design choice and I like it. I didn't use the exact same color for the background of the ten screen and the left accordion box on the compare screen for any of those colors, though they are all very close. I found it more natural to use a slightly lighter shade as the screen background and slightly darker as the

[2022-01-30 18:03] amanda-phet commented on #129
I like dev.41 the best. I may provided a slightly different shade of purple for the accordion boxes, but if it was the same as dev.41 now I'd be happy with that.

The backgrounds on the compare screen are just to reuse colors. There is no pedagogical reason for them having those colors, just using the light background colors from the previous screens looked nice. I like the purple and orange mysel

[2022-01-31 03:09] chrisklus commented on #105
This work was completed, closing.

[2022-01-31 03:09] #105 closed

[2022-01-31 11:46] chrisklus commented on #124
This should be fixed now.

[2022-01-31 17:06] amanda-phet commented on #111
`subitizerTimeShown` sounds good to me. Or `subitizeTimeShown`.

[2022-01-31 18:48] KatieWoe commented on #127
This looks similar in dev.45
<img width="352" alt="newmem" src="https://user-images.githubusercontent.com/41024075/151854202-738521be-72ae-4795-a07b-30f6dfe60a41.png">

[2022-01-31 19:34] KatieWoe commented on #128
I fuzzed for around 10 minutes on dev.45 and this didn't show up.

[2022-01-31 19:59] DevonQui opened #130 "Elements can become "un-interactable" on iPad"
**Test device**
iPad Air 4th Gen

**Operating System**
15.2

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/qa/issues/771

I noticed that when you create a new tab (leaving the simulation) while still interacting with an element in the play area, that element will stop being interact-able once you return to the play screen. I believe this is a multi-touch issue

[2022-01-31 20:27] KatieWoe opened #131 "Compare boxes are too small to organize 15 or more objects"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/771. Occurs on Compare screen but not the Twenty screen.
When you organize a group larger than 14 objects, the object on the left on the bottom row overlaps with the origin box and it is removed.

**Steps to reproduce**
1. Remove all the objects in one of the boxes

[2022-01-31 20:46] KatieWoe opened #132 "Should sound be interrupted when sim is muted?"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/771.
If you have the sim read something out, then mute the sim in the nav bar while it is reading, the sentence finishes. The sim is then muted and no new sounds start, but should already occurring sounds also stop?

Troubleshooting information:

<details>

!!!!! DO

[2022-01-31 21:41] DevonQui commented on #130
I noticed that this affects multiple simulations and I tested on master and the published sims on the website.

[2022-01-31 21:59] KatieWoe opened #133 "Object type in Compare screen doesn't reset with reset all"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/771.
On the compare screen, they type of object in the play area does not reset with the reset all button. When you first get to the screen both boxes use the puppy object. But if you switch to apples or numbers, they stay apples or numbers. This does not seem to ha

[2022-02-01 03:35] chrisklus commented on #133
Thanks @KatieWoe! I fixed this while working on https://github.com/phetsims/counting-common/issues/5. Back you to confirm on phettest, feel free to close if all set.

[2022-02-01 03:42] chrisklus commented on #131
Thanks @KatieWoe! I forgot that these being shorter because of the text would not allow for 20 to fit like it does on the Twenty screen. Co-assigning @amanda-phet for brainstorming the design to fix this.

[2022-02-01 03:46] chrisklus commented on #130
Thanks @DevonQui! I think this issue should be moved to `scenery` if it affects multiple sims. I'll assign @jonathanolson to see if this is a known problem and/or if it should be worked on.

[2022-02-01 05:41] chrisklus commented on #22
The original memory leak from this issue was mostly fixed and we have a newer issue now that shows the latest memory leak status, so I'm going to close this issue and continue work over in https://github.com/phetsims/number-play/issues/127.

[2022-02-01 05:41] #22 closed

[2022-02-01 17:07] Nancy-Salpepi opened #134 "Locale doesn't switch back to English-speaking voice with secondLocale=es on safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/771 and related to https://github.com/phetsims/number-play/issues/31:
When changing the locale back to English, the voice doesn't change back to English. Instead the Spanish-speaking voice says the English words pronounced like Spanish.

This see

[2022-02-01 17:44] Nancy-Salpepi opened #135 "Touch areas overlap"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/771

The touch areas for the bottom number spinner/object in each play area overlap. This is seen on the first 3 screens.

**Visuals**
<img width="673" alt="Screen Shot 2022-02-01 at 12 33 16 PM" src="https://user-images.githubusercontent.com/873

[2022-02-01 17:53] Nancy-Salpepi commented on #135
Also, the touch areas for the objects are inconsistent for scenes 2 and 3.
Cards:
<img width="146" alt="Screen Shot 2022-02-01 at 12 46 51 PM" src="https://user-images.githubusercontent.com/87318828/152022733-c3b9f52e-7adc-436a-ae1e-03ce8f5ea5bc.png">

Locked:
<img width="146" alt="Screen Shot 2022-02-01 at 12 46 13 PM" src="https://user-images.githubusercontent.com/87318828/152022572-eab15d2a-370

[2022-02-01 20:47] Nancy-Salpepi opened #136 "countAloud query parameter inconsistent across platforms"
**Test device**
MacBook Air (m1 chip)
Dell
**Operating System**
MacOS 12.0.1
Win10

**Browser**
Safari, Chrome, Firefox

**Problem description**
For https://github.com/phetsims/qa/issues/771

When using the query parameter, countAloud, each platform behaves differently when the number of objects in the play area is changed rapidly. On Mac + Safari--only the final number is read. Win10 + Firefox wi

[2022-02-02 07:14] chrisklus opened #137 "Subitizer reveal time does not reset correctly"
Discovered while testing changes for https://github.com/phetsims/number-play/issues/111.

If you set the subitizer time to something pretty long like `subitizeTimeShown=5` and then answer while the shapes are still being shown, during the next challenge, the shapes only appear for the remainder of that time from the previous challenge, not the full time length.

[2022-02-02 07:18] chrisklus commented on #111
Sounds good, thanks. I went with `subitizeTimeShown`. "subitizer" seems like an internal name that @Luisav1 and I invented for the type that drives the subitize game model :) Closing.

[2022-02-02 07:18] #111 closed

[2022-02-02 13:47] Nancy-Salpepi commented on #124
I wasn't able to reproduce either of the situations described. Looks fixed!

[2022-02-02 13:47] #124 closed

[2022-02-02 16:25] KatieWoe commented on #133
Looks good on master

[2022-02-02 16:25] #133 closed

[2022-02-03 02:39] chrisklus commented on #124
That is great news, thanks @Nancy-Salpepi!

[2022-02-03 03:47] stemilymill opened #138 "Numbers/comparison statements not read out on ChromeOS"
Chromebook version 97.0.4692.102 (32-bit)
For https://github.com/phetsims/qa/issues/771

When I click the speech button to read out the number or the comparison statement (screen 3), the sound for the button click is played but the number is not read out.

Note: after I noticed this, I updated the OS/browser, and then the number was read out twice. Then when I switched screens it did not work anym

[2022-02-03 03:58] chrisklus commented on #138
Thanks @stemilymill! Would you mind checking if there's any console errors?

[2022-02-03 04:05] stemilymill commented on #138
@chrisklus Here is all that shows up in console:

﻿
number-play_all_phet…l?screens=1,2,3:894 The AudioContext was not allowed to start. It must be resumed (or created) after a user gesture on the page. https://goo.gl/7K7WLu
number-play_all_phet…l?screens=1,2,3:894 [Violation] Added non-passive event listener to a scroll-blocking 'wheel' event. Consider marking event handler as 'passive' to make th

[2022-02-03 04:18] chrisklus commented on #138
Awesome thanks - one more question, and then it might be best to setup a zoom meeting at some point since I don't have a ChromeOS device. Can you operate the sim with the dev tools open and see if those ` 'setTimeout' handler took` errors correspond with pressing the speech button?

[2022-02-03 04:49] stemilymill commented on #138
All of those pop up as the sim loads, before I even click into a screen from the home screen

[2022-02-03 07:52] chrisklus commented on #138
Got it, thank you

[2022-02-03 08:12] chrisklus opened #139 "Fix positioning when creator node changes type"
When the group type changes, the creator node for objects in the panel in the play area shifts because its position is changing in a way that's changing bounds of its parent. I think this is the cause for why there's still some animation cases that done't quite line up smoothly over in https://github.com/phetsims/number-play/issues/8, and related to the weird touch areas for the creator node when

[2022-02-03 08:20] chrisklus commented on #139
@jonathanolson helped me out with this one today and gave me a very nice bounds tutorial in the process. There is still work needed related to the other issues i linked, but I'll handle that over in those. Closing.

[2022-02-03 08:20] #139 closed

[2022-02-03 08:38] chrisklus commented on #8
All of the counting objects/paper numbers are animating really nicely now - I added quadratic easing for their positionProperty, as well as a scale property that animates between their play area size and stored size.

All that should be left now is cleanup of step functions since the counting objects no longer need to be stepped. This will get rid of a lot of code.

[2022-02-03 09:48] chrisklus opened #140 "Use all counting object types on Compare and Lab screen"
I mentioned to @amanda-phet that, since working on/playing with the Compare screen more recently, I've been missing some of the available counting object types from the Ten and Twenty screen, and was wondering why we take some out when there is room for them all. @amanda-phet agreed that it seems fine to add them all, and suggested I do the same for the Lab screen.

[2022-02-03 20:02] chrisklus opened #141 "Add limitCompare query parameter"
In 1/27 design meeting, we decided to add a query parameter to limit the number of objects on the compare screen. It was suggested to be named `limitCompare`.

[2022-02-03 20:06] chrisklus commented on #141
Completed in the above commit. The valid values are 1-20. We might want to consider renaming to something like `compareCount`, as `limitCompare` feels more like a command and less like a name corresponding to number. Just a thought.

Marking for review in design meeting.

[2022-02-03 20:11] chrisklus commented on #140
Completed in the commits above. Marking for review at design meeting.

This also helped with some really nice simplification with the enumeration patterns used in this sim (still some remaining work here), so I'm a fan.

[2022-02-03 20:19] chrisklus commented on #33
I got ambitious over the weekend (before all the issues came in from Number Play dev test), and investigated how far out of reach the lab screen is. On the labScreen branch, I converted it to TypeScript, fixed the layering problem so we can have a bunch of play areas, and did some work on the ten frames. I bailed after the ten frames started getting complicated and it was clear that this screen wi

[2022-02-03 20:22] chrisklus commented on #71
Now that the Lab screen has been ported to TypeScript, every Number Play file has been converted. Closing.

[2022-02-03 20:22] #71 closed

[2022-02-03 20:32] chrisklus commented on #115
I would like to revisit this issue RE the title I just changed it to. Sound has been on for a while and no one has mentioned it - should we turn it of and only allow voicing? There will be no sound control to disable voicing if so.

[2022-02-03 20:37] chrisklus commented on #141
We like `compareMax`

[2022-02-03 20:39] chrisklus commented on #125
We like both of these changes.

[2022-02-03 20:39] #125 closed

[2022-02-03 20:40] chrisklus commented on #129
We are happy with the new color set, closing.

[2022-02-03 20:40] #129 closed

[2022-02-03 20:42] chrisklus commented on #140
We like this, I'll keep working here for cleanup.

[2022-02-03 20:52] chrisklus commented on #131
We'd like to try shrinking the total accordion boxes down to get the lower accordion boxes to match the height of the twenty screen's. The total text height might be around 80px.

[2022-02-03 21:04] chrisklus commented on #136
From design meeting, we think the voicing should not start while the buttons are held, so there should be some small delay while the number settles. I'll reach out to @jessegreenberg to investigate browser specific problems.

[2022-02-03 21:18] chrisklus commented on #115
In design meeting, we decided to turn off all sounds except the right and wrong answer feedback in the game, as well as entering and exiting the game level. So we will not turn off sound globally so there's still a mute button in the sim that will apply to voicing as well.

[2022-02-03 21:21] chrisklus commented on #132
Assuming this is not hard, I'll add a listener to the sound property to cancel the current voice. Thanks @KatieWoe !

[2022-02-03 21:24] chrisklus commented on #135
@kathy-phet recommended putting the arrow buttons on top - I'll take a look and see I that would be best or trimming the left side.

[2022-02-04 16:52] amanda-phet commented on #131
@chrisklus do you want to add the purple and orange background colors to the total accordion boxes when you make this fix?

[2022-02-04 16:52] amanda-phet commented on #108
This seems to be done. @chrisklus are you still tweaking these, or can this be closed?

[2022-02-04 16:53] amanda-phet commented on #90
All images should have assets now.

[2022-02-04 16:53] #90 closed

[2022-02-04 16:58] amanda-phet commented on #10
It doesn't seem buggy anymore, but is this how we want it to function? I can still overlap quite a bit without objects separating:
![image](https://user-images.githubusercontent.com/7852916/152570078-68bd5d41-60eb-4ff7-905f-7c8f315b805b.png)

and I can definitely get 20 dogs in a pile with very little separating:
![image](https://user-images.githubusercontent.com/7852916/152570167-ddad8623-106a-49

[2022-02-04 16:59] amanda-phet commented on #31
Did we discuss this last week? I don't recall, and the label is still here. I am assigned and not sure if I still need to be. It seems like the query parameter is working well, and as long as translations come in, more locales will be available for the second language, so I don't think there's anything left for me to do here.

[2022-02-04 17:00] amanda-phet commented on #31
I also updated the checklist. Most items are complete, and the ones relating to a preferences dialog are not priority for the prototype release.

[2022-02-04 17:07] KatieWoe opened #142 "CT property value not valid"
[code]

[2022-02-04 21:39] chrisklus commented on #138
When meeting with @jessegreenberg, he mentioned that he has a Chromebook that he could take a look with, thanks!

[2022-02-06 06:22] chrisklus commented on #136
@jessegreenberg and I setup an utterance queue for Number Play to address this issue, and we think it sounds pretty good now. We used the default delay time of 200 ms. @Nancy-Salpepi could you check the behavior for consistency across platforms? For holding the buttons now, there should only be a readout of the last number.

[2022-02-06 06:25] chrisklus commented on #134
Thanks @Nancy-Salpepi! @jessegreenberg and I discovered that this issue was caused by my workaround for having preference for Chrome voices. We fixed that behavior over in https://github.com/phetsims/scenery/issues/1282, and removing the workaround in Number Play seems to have fixed the problem. Ready for confirmation on phettest.

[2022-02-06 06:31] chrisklus commented on #141
Renamed in the commit above, closing.

[2022-02-06 06:31] #141 closed

[2022-02-06 08:20] chrisklus commented on #140
Cleanup completed in https://github.com/phetsims/counting-common/issues/7, closing.

[2022-02-06 08:20] #140 closed

[2022-02-06 08:28] chrisklus opened #143 "Add NumberPlayAccordionBox base type"
For adapting and factoring out the content/size management strategy used by CountingAccordionBox over in https://github.com/phetsims/number-play/issues/121 and supporting work for TotalAccordionBoxes needed in https://github.com/phetsims/number-play/issues/131.

[2022-02-07 13:39] Nancy-Salpepi commented on #136
@chrisklus This looks good now across several platforms (Mac+ safari/chrome, Win10+ chrome/firefox, Chromebook) on screens 1 and 2. When holding the button only the last number is read aloud.

[2022-02-07 17:55] Nancy-Salpepi commented on #134
The sim would freeze periodically when I tried to press the speech synthesis button.
<img width="511" alt="Screen Shot 2022-02-07 at 12 52 14 PM" src="https://user-images.githubusercontent.com/87318828/152844536-d8138125-eb88-4c3b-af36-e14a45093379.png">

[2022-02-07 18:20] jessegreenberg commented on #134
@Nancy-Salpepi did you notice this error in master or in 1.0.0-dev.45?

[2022-02-07 21:53] jessegreenberg opened #144 "Replace usages of voicingManager with a different instance of SpeechSynthesisAnnouncer"
From https://github.com/phetsims/utterance-queue/issues/34, the usage of voicingManager that was introduced for https://github.com/phetsims/number-play/issues/136 should be replaced with a new instance of a SpeechSynthesisAnnouncer. In https://github.com/phetsims/utterance-queue/issues/34 voicingManager now extends a base class that supports SpeechSynthesis called SpeechSynthesisAnnouncer so this

[2022-02-07 22:29] jessegreenberg commented on #144
Over slack @chrisklus mentioned there was a voicing feature bleeding over from our temporary usage of voicingManager.enabledProperty.value = true. When muting the sim we would hear "Sim voicing off". Using a different Announcer with a different enabledProperty should fix that.

[2022-02-07 23:35] jessegreenberg commented on #144
There are no more usages of voicingManager in number-play. @chrisklus can you please review the changes and the behavior? In particular I wanted to point out
- In https://github.com/phetsims/number-play/commit/5881df036da7b1bf3392475e3bc7c287007f60e1 I removed the audioManager.audioEnabledProperty check, it shouldn't be necessary anymore. Can you verify this is OK?
- The issue in https://github.co

[2022-02-07 23:36] jessegreenberg commented on #132
As mentioned in https://github.com/phetsims/number-play/issues/144#issuecomment-1032048385, I think this should be fixed with that issue, @chrisklus can you confirm?

[2022-02-07 23:59] jessegreenberg commented on #138
So I just saw something pretty strange. I was testing https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.45/phet/number-play_all_phet.html?screens=1,2,3 on my chromebook. At first no speech synthesis worked. So then I went to test number-play master and still no speech synthesis worked. Then I went to test published john-travoltage. When I got to the sim I heard lots of numbers from number-p

[2022-02-08 00:03] Nancy-Salpepi commented on #134
Hey Jesse
After pulling all, building a new version, clearing my history and using a private browser I still see this issue on Mac + safari. Button noises (like reset all) still occur, but nothing actually happens in the sim. I can't move any objects. When the freeze occurs seems to change.

https://user-images.githubusercontent.com/87318828/152892160-f8bb3986-857d-458b-8a1f-cfb028f84c6f.mov

<img

[2022-02-08 00:07] jessegreenberg commented on #138
I switched tabs to search for how to find my chromebook model. When I returned to the sim, all speech synthesis is muted.

[2022-02-08 00:19] jessegreenberg commented on #138
OK, I found a consistent way to break it.
1) Load the sim and press the button or use ?countAloud to hear voicing.
2) Switch tabs to a sim that does NOT use speech synthesis and stay on that tab for ~30 seconds.
3) Come back to the sim and try to use speech synthesis, it will be broken.

[2022-02-08 00:40] jessegreenberg commented on #138
I logged these things around the ENGINE_WAKE_INTERVAL of SpeechSynthesisAnnouncer:
console.log( this.getSynth().speaking, queue.length, this.timeSinceWakingEngine );

I am finding that when speech synthesis is broken, `this.getSynth().speaking` is always **true**!!

[2022-02-08 02:36] jessegreenberg commented on #138
I was able to produce this in a case outside of a PhET sim: https://codepen.io/matt-west/pen/DpmMgE

[2022-02-08 16:49] jessegreenberg commented on #138
I was able to produce the bug in this basic HTML example

<details>

[code]

</details>

[2022-02-08 17:40] jessegreenberg commented on #138
I am about ready to throw in the towel here. Ill check in with the team to request assistance or see if  we should reconsider supporting voicing on Chromebooks. I have identified that this is a Chromebook bug and reproduced the issue in a basic HTML5 example. At the very least we should submit a bug report to google.

[2022-02-08 21:43] chrisklus commented on #143
Patch from in progress work:

[code]

[2022-02-08 22:05] chrisklus commented on #108
@amanda-phet and I looked this and are about ready to close - @amanda-phet is going to make a version of the middle icon (dogs on the card) with a little more padding between the edges of the dog and the card they are on.

Then, we are going to close this issue and repopen a new one in the future if we want to revisit these icons when work on this sim continues in the future.

[2022-02-08 22:52] chrisklus commented on #138
@jessegreenberg thank you so much for investigating! That is super weird behavior. Let me know I could be helpful at all to pair to continue brainstorming ideas.

[2022-02-09 08:48] chrisklus commented on #143
This issue is complete. There is some work left for getting the options pattern working all correctly for this type structure, but that feels outside of scope for what I was trying to accomplish here. However, I was able to improve the existing options patterns in the process. Closing.

[2022-02-09 08:48] #143 closed

[2022-02-09 09:28] chrisklus commented on #131
@amanda-phet changes complete, ready for review on phettest.

[2022-02-09 09:33] chrisklus commented on #142
Thanks @KatieWoe! This was fixed by work in https://github.com/phetsims/counting-common/issues/7, and I haven't seen the error on CT since then. Closing.

[2022-02-09 09:33] #142 closed

[2022-02-09 09:39] chrisklus commented on #136
Awesome, thanks much @Nancy-Salpepi! Closing.

[2022-02-09 09:39] #136 closed

[2022-02-09 10:08] chrisklus commented on #144
Thanks @jessegreenberg!

Awesome, it's working great for me.

Yep, fixed on my end.

Yes indeed, nice!

Yes, that looks great.

`SpeechSynthesisAnnouncer.isSpeechSynthesisSupported` seems really good for guarding `numberPlaySpeechSynthesisAnnouncer.initialize`. Do you think the other places (like when creating a SpeechSynthesisButton) would make sense to check `numberPlaySpeechSynthesisAnnouncer.i

[2022-02-09 10:09] chrisklus commented on #132
Confirmed that this was fixed in https://github.com/phetsims/number-play/issues/144, thanks! Closing.

[2022-02-09 10:09] #132 closed

[2022-02-10 16:08] amanda-phet commented on #108
Over to you @chrisklus to make sure it's in the sim and looks ok.

[2022-02-10 20:17] chrisklus commented on #108
Looking great, thanks @amanda-phet! Closing.

[2022-02-10 20:17] #108 closed

[2022-02-10 20:48] chrisklus opened #145 "Should the compare screen controls be swapped?"
I would like to consider swapping the placement of the scene buttons + checkbox with the locale switch + speech button. This would keep the speech button and locale switch consistent on all screens. This seems extra nice for when alternative input is added to this sim. The only drawback i see to this change is that the checkbox will be aligned by its text on the right instead of the nice edge of t

[2022-02-10 20:50] chrisklus opened #146 "Create a "base" for the compare stacks"
We mentioned doing this a long time ago - having some indicator at the bottom of the stacks of squares so that zero doesn't match the no selection option.

[2022-02-10 21:36] #131 closed

[2022-02-10 21:42] amanda-phet commented on #146
Discussed 2/10/22 meeting and would like to defer this for now, but is probably something worth considering in the future.

If we want something for right now, we can try a thin black line under the stacks.

[2022-02-10 21:47] amanda-phet opened #147 "Polish: size of checkbox on compare screen"
Seems larger than standard- can we reduce the size?

[2022-02-10 22:04] chrisklus commented on #138
From design meeting:

We are okay to publish to the prototype with this issue, and would add a note in the teacher tips. @kathy-phet asked QA to check other published sims with voicing on ChromeOS.

@jessegreenberg do you think the thought in your last comment is worth investigating still?

[2022-02-10 22:20] jessegreenberg commented on #138
Yes, sorry I haven't gotten to it yet. Regarding other published sims, I fully expect this to be an issue for them as well since I was able to observe this outside of a PhET sim.

[2022-02-11 00:50] chrisklus opened #148 "Add sound button for reading out number of options"
@kathy-phet mentioned a new feature involving speech synthesis. We would like to add a button down by the objects accordion box reads the number plus the type, like "seven apples". This will be a feature for the final publication.

[2022-02-11 01:10] chrisklus opened #149 "Make query parameters available in options menu"
@kathy-phet mentioned at design meeting today that it would be nice to be able to control the public facing query parameters in this sim in the options dialog. This will be a feature for final publication.

[2022-02-11 01:15] chrisklus opened #150 "Query parameter for hiding accordion boxes"
At design meeting today, @kathy-phet brought a up teacher suggestion that we may want to implement for final publication. It's a query parameter to specify accordion boxes that should be hidden. We thought it could look like `hideRepresentations=1,3` or `hideRepresentations=word,tenFrame` if someone wanted to hide the Word and Ten Frame accordion box, for example.

[2022-02-11 04:46] chrisklus commented on #145
Completed in the above commit - I like it, want to take a look @amanda-phet?

[2022-02-11 09:15] chrisklus commented on #50
I made good progress on this issue tonight. I believe the only case left to solve is when there are the max number of objects in the area and an object with value 2+ is dropped back on the creator node (there's only one target showing after they return instead of two). I'm really liking how this is looking (aside from z-ordering issues, which i'll handle in a different issue).

[2022-02-11 16:58] KatieWoe commented on #138
From what I saw on the Chromebook in the office:
Number play on master: The speaker button didn't seem to work at first. Switch tabs and coming back seemed to fix it.
John Travoltage published: Voicing worked for the most part. Switching to a different tab for a minute and coming back stopped voicing until pressing one of the description buttons, then it came back. Otherwise seemed normal from a q

[2022-02-11 17:09] Nancy-Salpepi commented on #138
@jessegreenberg I was testing published JT and GFL:B on Chromebook this morning and voicing was working.
With chromeOS 98 I noticed delays in 3 instances:
1. When voicing is initially turned on: I don't hear anything after pressing the toggle button. It doesn't come on until after I tab through a few things.
2. After switching to another tab and then returning (see video)
3. After leaving the sim

[2022-02-11 20:12] jessegreenberg commented on #138
Thanks @KatieWoe and @Nancy-Salpepi! This is very helpful to know.

[2022-02-11 20:15] zepumph commented on #138
@jessegreenberg briefed me on this issue today during a11y-team dev meeting, and I had a large number of thoughts about how to pursue this issue. The vast majority of them have already been tried by @jessegreenberg, but I felt like applying a bit more rigor to the potential cross-product of possible solutions may be our best bet in finding a workaround.

First off, @jessegreenberg and I thought ab

[2022-02-11 23:28] chrisklus commented on #113
I completed this change in the commit above (and fixed the by that @amanda-phet and I noticed when I first tried out this change. Ok to close @amanda-phet?

[2022-02-14 20:47] amanda-phet commented on #147
Looks good.

[2022-02-14 20:47] #147 closed

[2022-02-14 20:48] amanda-phet commented on #145
Looks good to me!

[2022-02-14 20:48] #145 closed

[2022-02-14 21:13] amanda-phet commented on #113
All is looking good to me!

[2022-02-14 21:13] #113 closed

[2022-02-15 06:04] chrisklus commented on #114
In the above commits I reformatted the info dialog to remain correctly aligned for any length strings, closing.

[2022-02-15 06:04] #114 closed

[2022-02-15 06:30] chrisklus commented on #96
While I really like the type safety of this pattern, it's not something that I've started using elsewhere in NumberPlay or other sims. I think that especially for these relatively simple cases, it's not worth the name duplication/verbosity of having a private and public Property. Perhaps Property.js will have better support to do this in the future without needing to duplicate. For now, I'm removi

[2022-02-15 06:30] #96 closed

[2022-02-21 19:43] amanda-phet opened #151 "Language toggle should probably not be in accordion box"
IW brought up that the accordion box on the Ten and Twenty screens should probably not be hidden in an accordion box.

This is going to require some design discussions because I am not seeing an obvious way to redesign those two screens.

[2022-02-23 22:28] jessegreenberg commented on #144
Sorry it took so long, but sure! I don't feel too strongly, but could see that being cleaner if you prefer to check `initialized`.

[2022-03-10 16:02] jessegreenberg commented on #134
I am hitting this again while working on https://github.com/phetsims/utterance-queue/issues/65

[2022-03-10 16:39] jessegreenberg commented on #134
I think this was fixed in https://github.com/phetsims/utterance-queue/commit/4be055cb653cf8006ff8c5b557df481027e7abd8.

I pulled everything and tested in Safari on a Mac with the `all` build with `?secondLocale=es` and so far I have not been able to produce this problem. I also tried wiht the `?countAloud` param.

I AM seeing this on iOS Safari, but I am not convinced that it isn't testing cached

[2022-03-11 16:57] jessegreenberg commented on #134
I am failing to get some end events on iOS Safari. Perhapas we need to reopen https://github.com/phetsims/utterance-queue/issues/52

[2022-03-11 17:33] jessegreenberg commented on #134
So far I have tried
- Removing the "engine wake" workaround we added for ChromeBooks.
- Adding back the "safari memory" workaround we removed in https://github.com/phetsims/utterance-queue/issues/52.

It seems to break most consistently on the first usage of SpeechSynthesis with `speakIgnoringEnabled`. If it works there then it breaks after `cancel`.

[2022-03-12 21:06] jessegreenberg commented on #134
OK I finally think I got to the bottom of this in https://github.com/phetsims/utterance-queue/issues/66. I tested on macOS Safari and iOS Safari and saw no crashing in number-play. @Nancy-Salpepi can you please make sure this error is no longer happening?

[2022-03-12 21:42] jessegreenberg commented on #138
OK the behavior seems a bit better after changes in https://github.com/phetsims/utterance-queue/issues/66. Here is what I expect now:

When speech fails due to switching tabs or one of the other cases pointed out in https://github.com/phetsims/number-play/issues/138#issuecomment-1036416415, speech will stay broken for ~8 seconds but then start to work again more consistently.

[2022-03-12 21:43] jessegreenberg commented on #138
@Nancy-Salpepi or @stemilymill or @KatieWoe can you please try number-play on ChromeOS again and see if this is any better?

[2022-03-13 15:05] Nancy-Salpepi commented on #134
@jessegreenberg things look good when I stick to one screen, but if I am in the first screen in Spanish and then switch to the second screen that is in English--the voice is still Spanish. Toggling back and forth fixes the situation.
Also, if the voice is English and then I switch to another screen that is set to Spanish--it is the English voice speaking in Spanish (with a really bad accent--espec

[2022-03-14 16:55] Nancy-Salpepi commented on #138
@jessegreenberg things look much better in NP on master! It still takes a couple of clicks to initiate an utterance, but once it starts, it works well. Switching tabs and leaving it open for a while didn't have a negative affect.

[2022-03-15 17:36] jessegreenberg commented on #138
Awesome, thanks for checking both of you! I am going to add this to [the ](https://github.com/phetsims/qa/blob/master/documentation/accessibility-bugs.md) and consider this sufficient for now.

[2022-03-15 17:36] #138 closed

[2022-03-15 17:41] jessegreenberg commented on #134
Alright! I think that means the crashing bug reported in https://github.com/phetsims/number-play/issues/134#issuecomment-1032066605 is no more but the original problem reported in this issue is not fixed. Will take a look.

[2022-03-17 00:13] jessegreenberg commented on #134
This part of the bug happens on all browsers because there is one `isPrimaryLocaleProperty` per screen, but only one `voiceProperty` for the entire `numberPlaySpeechSynthesisAnnouncer`.  When the screens change we don't update the `voiceProperty` of the Announcer.

It seems like this could be fixed by either updating the `voiceProperty` when the screens change. OR the isPrimaryLocaleProperty could

[2022-03-17 00:44] chrisklus commented on #134
Thanks @Nancy-Salpepi and @jessegreenberg! A teacher recently experienced the problem described in https://github.com/phetsims/number-play/issues/134#issuecomment-1066120855, and i've started working on it (my bad for not creating a separate issue yet). My current approach has been the first option that @jessegreenberg described:

And I think that will give the desired behavior.

Thanks yall for a

[2022-03-17 15:26] chrisklus opened #152 "Speech synthesis locale gets out of sync with controls"
Discovered by a partner teacher and @Nancy-Salpepi in https://github.com/phetsims/number-play/issues/134#issuecomment-1066120855 - when the screens change, the speech synthesis language does not necessarily match the locale toggle on the new screen. This is because there's a control for the locale on each screen, but only one global setting for the speech locale.

[2022-03-17 15:54] chrisklus opened #153 "Rename countAloud -> readAloud"
In a previous design meeting, we decided to enable "counting aloud", or reading out loud, when either value changes on the Compare screen. Since it's no longer just counting, but now reading a sentence on the third screen, @amanda-phet recommended `readAloud`.

[2022-03-17 20:05] amanda-phet commented on #151
Discussed options 3/17/22 in design meeting. Would like to see how these two options look:

1. Shorten the height of the "word" accordion box and leave the toggle in a static location between the word and ones accordion boxes
2. Shorten the height of the "word" accordion box and put he toggle just below it whether expanded or collapsed (so the control moves depending on the state of the accordion

[2022-03-18 16:10] KatieWoe opened #154 "CT Assertion failed: value failed isValidValue: 11"
[code]

[2022-03-22 17:39] chrisklus commented on #153
This was completed in the above commits, closing.

[2022-03-22 17:40] chrisklus commented on #152
This was completed in the above commit, closing.

[2022-03-22 22:23] chrisklus commented on #115
Today I got assistance from @pixelzoom and discussed with @amanda-phet - @amanda-phet and I decided to take the equality-explorer approach of turning `user-interface` sound volume to 0. This can be done in one place, and then the correct/incorrect answer sounds in the game still work.

To do what was requested in https://github.com/phetsims/number-play/issues/115#issuecomment-1029411686 would've r

[2022-03-22 22:23] #115 closed

[2022-03-22 22:33] chrisklus opened #155 "Preference dialog controls for second locale"
Work left from https://github.com/phetsims/number-play/issues/31:

- [x] If a sim loads with the `secondLocale` query parameter, it is to be reflected in the preferences dialog
- [ ] Add locale choice to preferences dialog (A dropdown for the second locale, which lists each locale that has a sim translation available. We also don't want to be able to select the same locale that the sim is running

[2022-03-22 22:34] chrisklus commented on #152
Also tagging https://github.com/phetsims/number-play/issues/31

[2022-03-22 22:38] chrisklus commented on #31
I think all work for this issue not related to the preferences dialog is complete, so I'm going to close. I moved the remaining items over to #155.

[2022-03-22 22:38] #31 closed

[2022-03-22 22:46] chrisklus commented on #144
@jessegreenberg great, thanks. I went ahead and swapped them. I think we're all set here, thanks @jessegreenberg! Closing.

[2022-03-22 22:46] #144 closed

[2022-03-23 00:03] chrisklus commented on #128
Thanks @KatieWoe!

Good to know - I haven't seen it on CT recently either. Closing.

[2022-03-23 00:03] #128 closed

[2022-03-23 00:55] chrisklus commented on #126
Changes committed above.

At some point in the last month or two, @amanda-phet and I discussed this and @amanda-phet clarified that it was not imperative that ten-frame comes first every time a user re-enters the level, just that the pattern that she identified is followed. This made the implementation much simpler to do.

Ready for review by @amanda-phet. I only applied this change only to level

[2022-03-23 01:04] chrisklus commented on #137
Fixed above, closing.

[2022-03-23 01:04] #137 closed

[2022-03-23 18:26] zepumph commented on #96
I brought this up in the March 3 agenda of Developer meeting, and I thought that this was the preferred strategy when you have a need to change something internally but to make it readonly publicly. I just wanted to post here noting that I will be using this in Ratio and Proportion, and that it is documented in the typescript convention document: https://github.com/phetsims/phet-info/blob/635d2355

[2022-03-23 19:03] amanda-phet commented on #126
@chrisklus is looking into this as a bug.

[2022-03-23 20:14] pixelzoom commented on #96
An example would be nice.

[2022-03-24 02:07] chrisklus commented on #151
Tried these out and made three dev versions:

1. https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.49/phet/number-play_all_phet.html?secondLocale=es
2. https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.50/phet/number-play_all_phet.html?secondLocale=es
3. https://phet-dev.colorado.edu/html/number-play/1.0.0-dev.48/phet/number-play_all_phet.html?secondLocale=es

I suppose 2 is my prefe

[2022-03-24 03:41] chrisklus commented on #8
I cleaned up the step functions in the commits above. I also remembered I want to fix the animation target when the returning object has a handle on it - at the moment, the center position includes the bounds of the handle and it shouldn't

[2022-03-24 18:10] chrisklus commented on #126
@amanda-phet nice catch!

I fixed this in the above commits. The problem was that the the objects were not being repositioned if the challenge number didn't change from the last challenge. But, the grouping/ungrouping state was still being flipped, so that caused either ungrouped-positioned objects to have card background, or grouped-positioned cards to switch to stacks.

I also made some improvem

[2022-03-24 23:08] chrisklus commented on #8
In the above commits I corrected the offset so a dropped paper number stack with a handle will animate to the correct place. I also animated the opacity of the handle down to zero on the way back so it doesn't jerkily disappear on top of the creator node.

I think that is enough work for this issues, at least for the prototype. The last two bits of "jerkiness" that may be nice to alleviate at some

[2022-03-24 23:08] #8 closed

[2022-03-28 16:20] chrisklus commented on #118
This work is compete, closing. There are still some TODOs left for improvements.

[2022-03-28 16:20] #118 closed

[2022-03-28 19:08] chrisklus commented on #146
I tried out a simple line, want to take a look @amanda-phet?

[2022-03-31 18:57] amanda-phet commented on #146
Did you try anything lighter weight, such as the same weight that we use around the accordion boxes?

[2022-03-31 19:07] amanda-phet commented on #151
On 3/29/22 @kathy-phet shared the following:

I think a global control like this would make more sense to be in the navbar, since that is persistent, and we haven't done anything like that before.

Ian first suggested we move the toggle out of the accordion box, so in this case, I would ask which is better in his opinion- see nothing change, or hide it in the accordion box. I personally didn't hav

[2022-03-31 19:29] amanda-phet commented on #126
I think this is fixed! I saw repeated values and didn't see any issues with weird grouping.

Closing, since this request has been fulfilled.

[2022-03-31 19:29] #126 closed

[2022-03-31 20:55] amanda-phet commented on #151
Discussed 3/31/22 and we'd like to move forward with option 2.

We would also like to move forward with the following proposal to address Ian's concern:

The accordion box title will say Word (English) or Word (Espanol) depending on the toggle selection, but if `secondLocale` is not being used the title will just say Word.

[2022-04-04 15:43] KatieWoe opened #156 "CT Attempted to removeChild with a node that was not a child."
[code]

[2022-04-04 16:57] #156 closed, assigned to chrisklus

[2022-04-13 18:15] chrisklus commented on #146
@amanda-phet and I met to discuss and decided on making it a bit thinner. We are ready to close!

[2022-04-13 18:15] #146 closed

[2022-04-13 21:04] chrisklus commented on #151
This is ready for review. I'll add a link for viewing when available.

[2022-04-14 04:04] chrisklus commented on #50
I fixed the case described in the above comment and also discovered that if the creator nodes for the linked objects are made invisible, they don't reappear when objects are returned. So I fixed that, too. Closing.

[2022-04-14 04:04] #50 closed

[2022-04-14 04:07] chrisklus commented on #151
This seems to be working well and I sent @amanda-phet a screenshot over slack. We don't love having the language in the word accordion box title, but it's the best we can do for now. Closing.

[2022-04-14 04:07] #151 closed

[2022-04-14 14:49] chrisklus commented on #135
Fixed in the above commits, here is the result:

<img width="1402" alt="image" src="https://user-images.githubusercontent.com/5618316/163415009-bd9b3b1b-073a-40ba-bc0c-31cd504be240.png">

<img width="1411" alt="image" src="https://user-images.githubusercontent.com/5618316/163415085-19b6d63f-b3c9-4101-b698-3ac8a1a8765b.png">

Thanks @Nancy-Salpepi! Closing.

[2022-04-14 14:49] #135 closed

[2022-04-15 14:26] Nancy-Salpepi opened #157 "When language toggle triggers speech is inconsistent across screens"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Chrome

**Problem description**
For https://github.com/phetsims/qa/issues/797, when using both the ReadAloud and secondLocale= es query parameters, I noticed an inconsistency between screens. On the Compare Screen, when I toggle between the 2 locales, the statement is read aloud in the new language. If I do the same of

[2022-04-15 15:28] KatieWoe opened #158 "Comparison read out even if hidden"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/797.
On the Compare screen, if you hide the comparison between the two numbers with the `<=>` checkbox, and hit the microphone button, the comparison is still read out. If this is intended feel free to close.

**Visuals**

https://user-images.githubusercontent.com/4

[2022-04-15 16:07] KatieWoe opened #159 "Should the object card expand at 10 objects, or 11?"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/797.
When you make the objects cards in the sim, and combine the cards, the card expands when you add a 10th object. This leaves a large, empty white space to the right. This is especially noticeable on the Ten page, where no other objects can be add at this point.

[2022-04-15 18:32] Nancy-Salpepi opened #160 "Only English voice is heard"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/797

Using the query parameter secondLocale=es, I am only hearing the English speaking voice. When I switch to Español, it is the English voice saying the Spanish word. It is almost the opposite of what I originally reported in https://github.com

[2022-04-15 18:37] KatieWoe opened #161 "gameLevels arguments should control info dialog"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/797.
When using the `?gameLevels` parameter to only show some of the levels, clicking on the info dialog in the game page still gives a description for all, even though some are hidden.

**Visuals**
![gamelevels](https://user-images.githubusercontent.com/41024075/16

[2022-04-15 19:16] KatieWoe opened #162 "Should Reset All reset language toggle?"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/797
When using the `?secondLocale=es` parameter, the resulting toggle starts on English. If you switch it to Spanish and then hit Reset All the toggle stays on Spanish. This may be a desired behavior but it is different from typical sim behavior, so it should be con

[2022-04-15 21:06] KatieWoe commented on #160
I'm seeing this on Win 11 Firefox as well.

https://user-images.githubusercontent.com/41024075/163631919-f31c618d-a8e0-413c-a9ca-564264d7f2f2.MOV

[2022-04-15 22:20] KatieWoe commented on #160
Oddly enough, iPadOS 15.4.1 Safari did not seem to have this issue.

[2022-04-15 22:30] chrisklus commented on #160
hmm thanks yall. for more data points, it is working correctly on my Mac 10.13 Safari 13 and my Mac Firefox.

@Nancy-Salpepi @KatieWoe are you seeing `No voices found for locale: es` or something like that in the console when it's not working?

[2022-04-15 22:32] KatieWoe commented on #160
Yup
<img width="929" alt="yup" src="https://user-images.githubusercontent.com/41024075/163649677-fffdcde6-88a0-4da7-b2ec-e5f27b086071.png">

[2022-04-15 23:10] chrisklus commented on #160
Great, thanks. So either these browser versions don't have Spanish languages (in this case of using `es`), or the code we have to select a voice for a given locale is not correctly looking for a matching voice

[2022-04-16 12:58] Nancy-Salpepi commented on #160
Oddly, nothing comes up in the console on the Mac.

[2022-04-18 14:38] chrisklus commented on #159
Thanks @KatieWoe  - while it does look a little odd, this is intentional so that the size matches the ten card for the paper numbers (so the linking behavior works out nicely when dragging them), and so that single digits can be overlaid on the blank space (like paper ones over the zero of the ten). Closing.

[2022-04-18 14:38] #159 closed

[2022-04-18 14:59] chrisklus commented on #158
Thanks @KatieWoe - I discussed with @amanda-phet and we think that the statement should still be read when it is hidden. Closing.

[2022-04-18 14:59] #158 closed

[2022-04-18 15:08] chrisklus opened #163 "Add screenshots"
@amanda-phet would like to make screens this morning for the prototype release.

[2022-04-18 15:29] amanda-phet opened #164 "Polish the triangle and circle"
![image](https://user-images.githubusercontent.com/7852916/163831629-04d5a7d4-6c41-4be7-979d-935062fcfb66.png)

The slight overlap make the circle have a funny shape, so we should probably do something here like make the circle radius slightly smaller or move the triangles to the sides slightly.

@chrisklus is going to layer the circle on top of the triangle, for now, so we don't see the pointy pa

[2022-04-18 15:29] chrisklus commented on #160
Hm, that is odd. I don't think there's any thing we can do about this this morning before publishing the prototype, so I'm going to mark for final publication to continue investigation later. For the prototype, it would be nice to include on the sim page that Chrome best supports this feature.

[2022-04-18 15:35] chrisklus commented on #162
Thanks @KatieWoe! Yes it should, on it.

[2022-04-18 15:54] chrisklus commented on #162
Fixed above, marking for cherry-picking.

[2022-04-18 16:01] chrisklus commented on #161
Thanks @KatieWoe - I discussed with @amanda-phet and she would like to see the behavior you're expecting. Since this is not a feature in FMW or Equality Explorer (other sims that use the standard `gameLevels` implementation), @amanda-phet would also like to open a vegas issue discuss adding this behavior elsewhere.

I'll do that today.

[2022-04-18 16:21] chrisklus commented on #157
Thanks @Nancy-Salpepi! Discussed with @amanda-phet and we think the Ten and Twenty screen behavior is correct. I'll change the Compare screen.

[2022-04-18 16:31] chrisklus opened #165 "Update credits"
No credits have been added yet.

[2022-04-18 16:43] chrisklus commented on #165
Added above, marking for cherry-picking.

[2022-04-18 17:17] chrisklus commented on #157
Completed above and ready for cherry-picking.

[2022-04-18 17:21] chrisklus opened #166 "Publish 1.0 as a prototype"

[2022-04-18 17:44] KatieWoe commented on #157
Looks good in https://phet-dev.colorado.edu/html/number-play/1.0.0-rc.2/phet/number-play_all_phet.html?secondLocale=es&readAloud

[2022-04-18 17:45] KatieWoe commented on #162
Looks good in https://phet-dev.colorado.edu/html/number-play/1.0.0-rc.2/phet/number-play_all_phet.html?secondLocale=es

[2022-04-18 17:46] #157 closed

[2022-04-18 17:46] KatieWoe commented on #165
Looks good in https://phet-dev.colorado.edu/html/number-play/1.0.0-rc.2/phet/number-play_all_phet.html?secondLocale=es

[2022-04-18 17:46] chrisklus commented on #165
Awesome thanks! Closing.

[2022-04-18 17:46] #165 closed

[2022-04-18 17:49] chrisklus commented on #165
Also, this was cherry-picked for https://github.com/phetsims/number-play/issues/166.

[2022-04-18 17:50] chrisklus commented on #163
This was cherry picked for https://github.com/phetsims/number-play/issues/166, closing.

[2022-04-18 17:50] #163 closed

[2022-04-18 17:51] chrisklus commented on #162
Great, thanks! This was cherry-picked for https://github.com/phetsims/number-play/issues/166, closing.

[2022-04-18 17:51] #162 closed

[2022-04-18 17:59] chrisklus commented on #127
Oops, I forgot to update this issue on Friday. @jonathanolson helped me look into the memory status of this sim and we found that it had been greatly improved since the last tests. Initial size was around 50 MB and after 5-7 min of testing we never saw it go above 56 MB.

There was one dragListener to dispose that I am about to commit. I will do a new memory test on 1.0 prototype to confirm no mai

[2022-04-18 18:08] chrisklus commented on #157
Also cherry-picked for https://github.com/phetsims/number-play/issues/166.

[2022-04-18 18:17] chrisklus commented on #166
1.0 prototype was published! Here are the links:

https://phet.colorado.edu/sims/html/number-play/latest/number-play_all.html
https://phet.colorado.edu/sims/html/number-play/latest/number-play_all.html?secondLocale=es

Closing.

[2022-04-18 18:17] #166 closed

[2022-04-19 16:47] pixelzoom opened #167 "Levels that are not included in `?gameLevels` should not be shown in game Info dialog."
Related to https://github.com/phetsims/vegas/issues/104

[2022-04-19 16:49] pixelzoom commented on #167
Deferred until general design decisions have been made, see https://github.com/phetsims/vegas/issues/104#issuecomment-1102871139.

[2022-04-26 21:58] amanda-phet opened #168 "Update Number Play screenshots"
I just noticed my browser resize wasn't working right when I completed #163 , and the screenshots are the wrong size. It seems like they are working fine on the website for now, but I'll need to redo them for final publication.

[2022-04-28 15:56] KatieWoe opened #169 "Able to drag objects out of empty box with touch"
**Test device**
Dell and iPad
**Operating System**
Win 11 and iPadOS 15
**Browser**
Chrome and Safari
**Problem description**
Found in https://github.com/phetsims/qa/issues/797
If you have removed all the objects from a toolbox (either numbers or objects) the pointer area is still there for touch. If you try to use a mouse to remove a new object nothing happens. If you use touch to remove a new ob

[2022-04-28 17:45] amanda-phet commented on #168
@KatieWoe is this something you or someone on the QA team could help me with today?

[2022-04-28 19:37] amanda-phet commented on #168
Thank you @KatieWoe !

[2022-05-02 20:18] amanda-phet commented on #168
These are ready to be cherry-picked in the next maintenance release

[2022-05-02 21:44] chrisklus commented on #169
Thanks @KatieWoe - should be fixed in the commit above. Can you please test on phettest? Noting for ease of testing that Chrome's mobile viewing was able to reproduce this as well.

[2022-05-03 16:33] KatieWoe commented on #169
Looks good on a quick check on master on Win 11 Chrome. The only potential oddity I found is this:
If you add all objects, take one away and add it back before the object reaches the tool box, then there will briefly be an extra object, however this quickly resolves itself and I don't think it is worth addressing.
Steps:
1. Go to the first screen and add all objects
2. Move numbers to top right of

[2022-05-06 01:49] amanda-phet commented on #161
Discussed in https://github.com/phetsims/vegas/issues/104 and we'd like to move forward with making a change here. So the `gameLevels` query parameter will control which levels are visible in the game info dialog, and only show the level descriptions for the visible levels.

[2022-05-06 02:49] chrisklus commented on #169
Thanks @KatieWoe - the above behavior is as designed, but the 1 disappearing when it hits the panel is a little weird in my opinion. I may consider sending the returning one back out instead of returning it and adding a new one in a different issue. That would solve both minor problems you identified. This was deployed to production, closing.

[2022-05-06 02:49] #169 closed

[2022-05-06 02:50] chrisklus commented on #168
This was deployed to production, closing.

[2022-05-06 02:50] #168 closed

[2022-05-06 03:29] pixelzoom commented on #167
Duplicate of #161.

[2022-05-06 03:29] #167 closed

[2022-05-06 03:59] pixelzoom commented on #161
I don't know if this sim is PhET-iO instrumented yet.  But do make sure that `?gameLevels` controls visibility of the level descriptions, and does not conditionally create those descriptions.  That will ensure that `?gameLevels` does not change the PhET-iO API.

[2022-05-19 00:20] chrisklus opened #170 "Creator nodes don't reset"
If one or both of the creator nodes are not visible when the sim is reset (because all or almost all counting objects are out in the play area), they don't reappear. Discovered on the latest production version late last week.

[2022-05-23 17:35] chrisklus commented on #170
This has been fixed and deployed to production. I ended up manually fixing this on the 1.0 branch after fixing on master because some things with optionize have changed since 1.0 shas were taken, so i think trying to cherry pick would've been a big headache.

Deployed after a failed deploy attempt last week from a stale TypeScript cache.

@KatieWoe can you please confirm on latest production? You

[2022-05-23 18:32] chrisklus commented on #170
Thanks @KatieWoe! I did find one the other day that would be helpful to figure out the minimum steps for. I'll try to reproduce it and create an issue and assign to you.

I think we're set here, closing.

[2022-05-23 18:32] #170 closed

[2022-05-23 18:37] chrisklus opened #171 "Not all dogs lose their card when switching back to scene 1"
<img width="1382" alt="image" src="https://user-images.githubusercontent.com/5618316/169884458-b0f85e84-9214-40d2-a22b-c1aedfc720ae.png">

I recently discovered that you could get the object window in a state where not all objects lose their card when switching back to scene 1, as shown above. It is related to switching scenes + combining/separating cards. @KatieWoe if you are doing some extra tes

[2022-05-23 23:47] Nancy-Salpepi commented on #171
@chrisklus I was able to reproduce on the prototype (Bayes is down).

Here are the some steps to reproduce:
1. On either the Ten or Twenty screen, add some dogs to the accordion box.
2. Switch to scene 2.
3. Combine two cards
4. Separate the two cards
5. Switch to scene 1

https://user-images.githubusercontent.com/87318828/169921726-7a804bcb-f726-4782-881c-24a76eeb6563.mp4

[2022-05-24 03:18] chrisklus commented on #171
Thanks @Nancy-Salpepi! This ended up being a simple change, so I went ahead and maintenance released the fix and did some light testing. Could you please confirm on your end on the production version?

https://phet.colorado.edu/sims/html/number-play/latest/number-play_en.html

[2022-05-24 12:15] Nancy-Salpepi opened #172 "Cards don't look stacked when at top of accordion panel"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.3.1

**Browser**
chrome

**Problem description**
Noticed when verifying https://github.com/phetsims/number-play/issues/171, if cards are combined at the top of the accordion panel, after switching back and forth between scenes 1 and 2, they will appear on top of one another instead of as a stack.

**Steps to reproduce**
1. On either th

[2022-05-24 12:16] Nancy-Salpepi commented on #171
@chrisklus I'm glad this was a simple change. All the dogs lose their card now.

I noticed another bug while testing https://github.com/phetsims/number-play/issues/172.

Sorry we missed them initially.

[2022-05-24 19:44] chrisklus commented on #171
Thanks @Nancy-Salpepi! Great, I'll check that out, and no worries! Closing here.

[2022-05-24 19:44] #171 closed

[2022-05-24 19:49] chrisklus commented on #172
Thanks @Nancy-Salpepi! I think this is a side effect of needing to bump the group of cards down when the handle appears (put one at the top, then adding another to it bumps the group down). So the top card in the stack isn't placed where it wants to be which is causing the top 2 cards to be in the same position.

I think a fix would be nice, but probably isn't necessary to MR for 1.0. Marking for

[2022-05-24 20:00] Nancy-Salpepi commented on #172
@chrisklus I noticed that if you then switch back to scene 1 again, the dogs will also be on top of each other. It makes it look like there are the wrong number of dogs present.
For example, in the pic below, you only see 9 dogs.
<img width="705" alt="Screen Shot 2022-05-24 at 3 58 57 PM" src="https://user-images.githubusercontent.com/87318828/170121881-547766b7-5d74-40de-88d4-1402e0472f08.png">

[2022-05-25 13:49] Nancy-Salpepi opened #173 "Issues when holding object while changing scenes"
**Test device**
iPad Air 2

**Operating System**
15.5

**Browser**
safari

**Problem description**
I noticed a couple of issues with multitouch when I am holding an object or button with one finger while changing scenes with another. For example, when holding a puppy card and changing from the locked scene to another one, the ones card will still move around when I move my finger (even though the

[2022-05-25 13:58] Nancy-Salpepi commented on #173
A second example:
If I hold a card containing multiple objects over the collection area and switch from scene 2 to scene 1, those cards will not return to collection area when I lift my finger.

1. On the Tens screen, add all 10 puppies to the play area
2. Switch to scene 2
3. Combine puppies so that 3 are on the same card
4. Hold card over collection panel while switching to scene 1 with another

[2022-05-26 00:21] chrisklus opened #174 "Refactor model to rely on sumProperty of play areas"
Number Play has always duplicated where the "current number", or sum, is being tracked. There is a sumProperty internal to each play area (in counting-common), and Number Play also creates separate number Properties that represent the sum on the number play side of things. So for screens 1 and 2, there are 3 Properties trying to get along - Number Play has one number Property for the whole screen'

[2022-05-26 01:25] chrisklus commented on #174
@marlitas and I made good progress on this yesterday and then I was able to get to a commit point today. This was a very extensive change and eliminated a lot of bad code and at least 6 relevant TODOs.

There are going to be fuzz errors on CT because I think I am misunderstanding how not-synchronous dragging out new paper numbers can be when fuzzing, but I'm not sure. Anyway, there are still reent

[2022-06-03 21:08] chrisklus opened #175 "Refactor level descriptions to follow common pattern"
@pixelzoom identified some complexities with Number Play's level descriptions that are blocking the generalization of level description dialogs, see https://github.com/phetsims/vegas/issues/107#issuecomment-1131955861

I'm going to refactor the descriptions to match that pattern.

[2022-06-03 21:32] chrisklus commented on #175
Note that in addition to the two changes in the dialog that will happen as noted in https://github.com/phetsims/vegas/issues/107#issuecomment-1145406070, the full level descriptions are now included in the title bar instead of the abbreviated ones like before.

Leaving assigned to @amanda-phet for review on phettest.

[2022-06-06 17:25] pixelzoom commented on #175
@chrisklus There appears to be something wrong here.  Screenshot below of what I see in master.

<img width="1029" alt="screenshot_1692" src="https://user-images.githubusercontent.com/3046552/172213058-6b3295b2-5dac-45d7-9495-d3b3b5b552f3.png">

[2022-06-06 17:35] pixelzoom commented on #175
OK, thanks for clarifying.  I guess I was confused because you asked @amanda-phet to review.  I'm not sure what she's going to review. The strings file?...

I'm label this issue as "blocks-sim-publication" and proceed wih https://github.com/phetsims/vegas/issues/107.

[2022-06-06 17:40] KatieWoe opened #176 "CT reentry detected"
[code]

[2022-06-06 22:44] chrisklus commented on #174
I worked on this more with @jonathanolson last week and we suspected that deferring the sumProperty at various times was perhaps causing a bug. So he recommended refactoring again to not calculate the sum every time the number of paper numbers changes, but instead just when ones are added or removed from the play area.

I completed that refactor and have all normal use working but fuzzing is still

[2022-06-07 20:04] amanda-phet commented on #175
I can review this when the new dialog is implemented, just let me know when it's ready!

[2022-06-14 02:17] chrisklus opened #177 "cleanup/update TypeScript patterns to latest conventions"
Before and during work for the lab screen, I'd like to update the typescript patterns used in this sim. This will at least include fixing any TODO-TS's, moving documentation from constructors to declaration sites, updating options patterns, and adding access modifiers wherever missing.

[2022-07-12 21:25] chrisklus commented on #175
Thanks @pixelzoom! This is ready for review by @amanda-phet.

[2022-07-12 22:23] chrisklus commented on #175
Review of GameInfoDialog was completed over in https://github.com/phetsims/vegas/issues/107, removing blocks-sim-publication label.

[2022-07-13 18:32] amanda-phet commented on #175
Looks good in NP.

[2022-07-18 19:55] KatieWoe opened #178 "CT A play area should not need to create more than one counting objectat a time"
[code]

[2022-07-25 17:55] chrisklus commented on #104
This branch was merged into master, closing.

[2022-07-25 17:55] #104 closed

[2022-07-28 15:43] chrisklus commented on #174
@jonathanolson and I made good progress on this issue yesterday - we were able to make improvements that fixed several buggy cases. I'm still running into a case like below that's going to need more logging to figure out, not sure where the extra
2 is coming from:

[code]

[2022-07-28 16:16] chrisklus commented on #174
I got some better logging going and set a debugger for the bad cases to look at the stack - there does not seems to be a consistent place/reason for adding numbers that's cause it to get off (the above case was clicking an up arrow in the total accordion box, below is dragging out a 1 and clicking the up arrow in a play area's creator node, which leads me to believe something else is going on. The

[2022-07-28 23:31] chrisklus commented on #176
Thanks @KatieWoe! This is being worked on in https://github.com/phetsims/number-play/issues/174.

[2022-07-28 23:32] chrisklus commented on #178
Thanks @KatieWoe! This is being worked on in https://github.com/phetsims/number-play/issues/174.

[2022-07-29 17:27] KatieWoe opened #179 "Debug version doesn't play"
For https://github.com/phetsims/qa/issues/822. Seen on Win 11 Chrome.
When trying to play the debug version of the dev test (https://phet-dev.colorado.edu/html/number-play/1.1.0-dev.1/phet/number-play_all_phet_debug.html) does not load. No console error appears other than a 503 error that does not seem to be related.
<img width="959" alt="nodebug" src="https://user-images.githubusercontent.com/410

[2022-07-29 18:20] Nancy-Salpepi commented on #152
This issue seems to be happening again with mac + safari, but only when switching to the compare screen from either screen 1 or 2.

Steps:
1. Add ?secondLocale=es to url
2. Go to screen one and switch to Espanol
3. Press the Megaphone button
4. Switch to the compare screen and press the Megaphone button -- it will speak in Spanish even though the toggle is set to English

https://user-images.githu

[2022-07-29 18:32] Nancy-Salpepi commented on #152
I went back and tested 1.0.0-rc.1 again since I have updated my macOS and safari, and that version is working correctly.

[2022-07-29 19:45] KatieWoe opened #180 "Unintentional overlap of objects"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/822
It is possible to get non-card objects to fully overlap with each other fairly easily. If you overlap two in a corner, then overlap a third, the movements trying to prevent overlap will cause overlap with another object. This may not be worth addressing, but I w

[2022-07-29 22:33] KatieWoe opened #181 "CT Cannot read properties of null (reading 'addRemoveCounter')"
[code]

[2022-07-30 13:16] Nancy-Salpepi commented on #180
This happens on the Ten and Twenty screens as well

https://user-images.githubusercontent.com/87318828/181916061-ce093971-721f-4121-9132-95d87e66fa22.mp4

[2022-07-30 15:43] Nancy-Salpepi opened #182 "Value changes to 1 before returning to collection area"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.5

**Browser**
safari 15.5

**Problem description**
For https://github.com/phetsims/qa/issues/822, if I combine all the paper 1's to make one number (ex-6) and then return a group of objects to the collection area (ex-6 dogs on a card), the number 6 changes to a 1 before if returns to the collection area. I thought this was a bit

[2022-07-31 13:22] Nancy-Salpepi commented on #160
For https://github.com/phetsims/qa/issues/822 I still see this issue with Win10 FF in 1.1.0-dev.1.
I can hear the Spanish speaking voice with Mac + safari.

[2022-08-01 17:51] KatieWoe commented on #160
I repeated this on Win 11 Chrome. The correct words are read, but the wrong voice is used.

[2022-08-01 17:52] KatieWoe commented on #152
I repeated this on Win 11 Chrome. The correct words are read, but the wrong voice is used.

[2022-08-01 19:18] KatieWoe commented on #152
This also occurs with the `?readAloud` parameter.

[2022-08-01 21:35] KatieWoe opened #183 "CT paperNumbers should exist in play area"
[code]

[2022-08-01 21:52] stemilymill commented on #152
I've gotten the same as Katie but with Win10 chrome

[2022-08-01 22:04] KatieWoe commented on #152
I wasn't able to reproduce on Win 11 Firefox due to https://github.com/phetsims/number-play/issues/160.

[2022-08-02 13:16] Nancy-Salpepi commented on #152
With the Chromebook, I am seeing what @KatieWoe reported in https://github.com/phetsims/number-play/issues/152#issuecomment-1201524007

[2022-08-04 01:23] amanda-phet commented on #182
I wonder if it's actually a stack of 1's, because the 9 breaks up into 1's when the butterfly group is returned, but we can only see the top one. I agree it looks strange though, and would be nice if there was a way around that behavior.

[2022-08-04 01:24] amanda-phet commented on #180
I would say it's a known issue. We've discussed it in the context of the Lab screen, and it is something I am ok with leaving as-is.

[2022-08-24 17:48] chrisklus opened #184 "Use custom layout in NumberPlayGameLevelSelectionButtonGroup"
From converting to use LevelSelectionButtonGroup in https://github.com/phetsims/vegas/issues/108.

Right now I'm using a default layout of 2 rows, but there can be a case where levels from different game types end up on the same row:

<img width="569" alt="image" src="https://user-images.githubusercontent.com/5618316/186487919-33def710-be13-47ec-bd19-8319a0b2b470.png">

The red buttons should alwa

[2022-08-24 17:55] chrisklus opened #185 "Make game level button images the same size"
Because of the new way buttons are being created in https://github.com/phetsims/vegas/issues/108, the subitize button images are not scaling up to fill the button space like they were previously. Instead, they are rendering to scale to the counting images.

For reference, the counting images are currently 417 x 335.
The subitize images are currently 210 x 168.

I think scaling up the subitize imag

[2022-08-24 18:37] chrisklus commented on #184
From https://github.com/phetsims/vegas/issues/108#issuecomment-1226090686:

[2022-08-24 22:04] pixelzoom commented on #184
Try this:

[code]

... and if that gives the desired behavior, then make it less hardcoded as you prefer -- either a specific number of rows or columns.  And decide what to do when levelSelectionButtons.length is odd.

[2022-08-29 15:26] chrisklus commented on #154
There are newer CT issues related to this, closing.

[2022-08-29 15:26] #154 closed

[2022-09-08 21:33] samreid commented on #19
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-26 20:19] KatieWoe opened #186 "CT Cannot read properties of undefined (reading 'moveToFront')"
[code]

[2022-10-03 20:45] chrisklus opened #187 "CT Assertion failed: countingObjectType not found!"
Making a side issue from https://github.com/phetsims/number-play/issues/186 since there were multiple problems in that stack.

[2022-10-03 20:51] chrisklus commented on #186
I fixed this issue in the above commit and haven't seen it on CT since. I opened #187 to track down a different assertion in this stack and I think the rest already have issues or will be fixed by the work in #187. Closing.

[2022-10-03 20:51] #186 closed

[2022-10-03 21:03] chrisklus commented on #187
In #33 I added logic to grab counting objects not in ten frames before any objects are removed from ten frames (regardless of how far away things are) when the down arrow is clicked to return a counting object. For this issue I need to properly remove counting objects from ten frames when they are selected to be returned.

[2022-10-03 23:44] chrisklus commented on #187
Fixed in the above commit, closing.

[2022-10-05 15:10] RVieyra opened #188 "Voicing Notification"
On translated sims, voices are defaulting to English when no language voice is present on the user's device. This is confusing some of the translators, and is a concern particularly for younger users of the simulation. Two potential fixes:

- @chrisklus Suggested adding a pop-up to let people know when their device's language does not have voicing.
- @jessegreenberg Suggested notifying people how

[2022-10-05 19:19] jessegreenberg commented on #188
@kathy-phet can you please comment on the priority of this and who you would like to work on it?

[2022-10-05 19:36] chrisklus commented on #188
Also - I think it would be good to include this issue for design discussion on Friday

[2022-10-10 21:51] chrisklus opened #189 "Implement 'Simulation' tab in preferences dialog"
In design meetings on Friday 10/7 and today 10/10, we decided what should be included in the preferences dialog. Detailed descriptions are in Number Play's design doc.

Remaining work for  this issue:

- [x] Add similar tab in Number Compare
- [x] Layout changes as described in the design doc
- [x] Replace compareMax and subitizeTimeShow sliders with number pickers
- [x] Handle graying out control

[2022-10-21 18:23] amanda-phet commented on #185
![subitizeGameIcon2](https://user-images.githubusercontent.com/7852916/197263773-9ea50060-d847-4f7a-b810-68f8eeb15fc3.png)
![subitizeGameIcon1](https://user-images.githubusercontent.com/7852916/197263778-193ce080-a873-4f08-b473-22c78f87d4cf.png)

Here are the two subtilize game icons, scaled up.

[2022-10-25 21:08] chrisklus commented on #179
Thanks @KatieWoe! Confirmed that the 1.1.0-dev.1 debug version is not loading for me either on Mac + Chrome. But I just tested the latest dev version (1.1.0-dev.6) and that is working. I'm going to close since at least the last few dev debug versions are starting up for me and will reopen if the next one has issues.

[2022-10-25 21:08] #179 closed

[2022-10-27 15:17] chrisklus commented on #161
This functionality was added in https://github.com/phetsims/vegas/issues/104 and is working well, closing.

[2022-10-27 15:17] #161 closed

[2022-10-31 17:51] chrisklus commented on #149
This is being worked on in https://github.com/phetsims/number-play/issues/189, closing.

[2022-10-31 17:51] #149 closed

[2022-10-31 18:52] chrisklus commented on #180
@amanda-phet and I confirmed this as a won't-fix and decided to close, thanks all.

[2022-10-31 18:52] #180 closed

[2022-11-01 19:20] chrisklus commented on #155
There are notes from the most recent discussion of this design over in Number Play's design doc, closing.

[2022-11-01 19:20] #155 closed

[2022-11-07 18:35] KatieWoe commented on #183
May be related:
[code]

[2022-11-14 19:54] chrisklus commented on #189
We reviewed the current Preferences menu at the last design meeting and all was looking good except some extra space needed in the audio dialog. I fixed all of the bugs I could find in the more recent commits and think the preferences are now in a state that's ready for QA. Closing.

[2022-11-14 19:54] #189 closed

[2022-11-17 19:37] amanda-phet commented on #188
@kathy-phet said to @chrisklus that we should work on this, and that we should have a design meeting about it.

[2022-11-18 21:36] amanda-phet commented on #188
Met 11/18/22 to discuss this.

Right now we can reproduce this with `locales=*` so we can test out a solution that we might come up with.
* AM discovered that Bosnian is likely not on her machine

This is an issue for primary and secondary locales.

We'd like a warning that appears when someone sets a language (either the sim-specific secondLocale or the localization tab). However, this would happ

[2022-11-22 00:29] zepumph commented on #174
@chrisklus and I worked on this today, and with this patch we saw that when breaking apart a counting object that is animating to be returned, the animated and includeInSumProperty state is not persevered. This patch helped us find the problem

<details>

[code]

[2022-11-28 16:24] KatieWoe opened #195 "CT matching tenFrameNode not found!"
[code]

[2022-11-28 16:28] KatieWoe opened #190 "CT Cannot fire when already firing"
[code]